[2015-03-03 02:29] wjwwood opened #1 "merge api_review branches"
Acceptance Criteria:

- [x] backup of current state in braches or tags (for stable target for CI)
- [x] merge all API review branches
- [x] get master compiling again
- [x] get rclcpp examples working again
- [x] update developer documentation to include the new repositories

----

There are `api_review` branches on several repositories:

- `examples`
- `ros_middleware_interface`
- `ros_middleware

[2015-03-03 23:22] wjwwood opened #2 "Setup batch CI for Linux"
Acceptance Criteria:

- [x] Create a batch script type CI testing to be batch run
- [x] report test result in jenkins job (# passed/failed)

[2015-03-03 23:27] wjwwood opened #3 "Update packages to use QA tools"
AC:

- [x] Example packages running QA tools like linters
- [x] update c/c++ linter configurations for 1 of these
  - [x] cppcheck
  - uncrustify - separated: #14
  - cpplint - separated: #12
  - clang_format - separated: #13
- [x] update existing packages to use the existing tools, as an automated test
- [x] documentation about how to use tools

----

[2015-03-03 23:41] wjwwood opened #4 "Basic multiprocess launcher with test awareness"
AC:

- [x] use Python `asyncio`
  - [x] file format for encoding processes to be launched (plain python fine)
  - [x] output to different destinations: console, log file
- [x] support multiple error handlers
  - [x] ability to launch and tear down processes (local only)
  - [x] a way designate tests in the file format
- [x] separate launcher executable (`launch`) from launch file containing the pr

[2015-03-03 23:42] wjwwood opened #5 "Setup Batch CI for OSX"
- [x] Create OSX Jenkins Slave
- [x] Setup a job to run based on the wiki instructions
 - [x] preinstall some system dependencies
 - [x] job clones and builds
- [x] Build and run tests, tracking the test results with Jenkins

----

[2015-03-03 23:42] wjwwood opened #6 "Setup Batch CI for Windows"
AC:

- [x] Create Windowns Jenkins Slave
- [x] Setup a job to run William's wiki instructions
 - [x] preinstall system dependencies
 - [x] job clones and builds

----

Loop in @j-rivero

[2015-03-04 05:42] wjwwood commented on #1
I created `pre_api_review` branches on the repositories which needed it. We should remove those when we no longer need them.

[2015-03-04 06:45] wjwwood opened #7 "Replace instances of ros_middleware with rmw"
We've decided to replace the usage of `ros_middleware` with `rmw` for brevity.

[2015-03-04 07:02] wjwwood commented on #1
I merged all of the branches to master, but it's still in a pretty broken state. I think we will have to resolve the Service implementation before we call this issue done since they were already on master.

[2015-03-04 23:12] wjwwood opened #8 "Update copyright years to 2015"
Since we're actively creating code, I think it would be nice to start off with 2015 in everything.

So we should probably go through and update all of the LICENSE files and file headers. I don't expect us to do this every year, but it seems appropriate to me this time. Anyone -1?

[2015-03-04 23:13] esteve commented on #8
Sounds good.

[2015-03-04 23:14] dirk-thomas commented on #8
You don't want to apply this to the existing files - only to new ones, right?

[2015-03-04 23:19] wjwwood commented on #8
@dirk-thomas you're probably right. I'll go through and make sure any modified files have the right year, untouched files I'll leave alone. I think the change on write policy is appropriate.

Ideally, we could setup a post install hook which checks that the year is right in changed files on commit. Or a unit test which looks at the last modified date of each file and checks against the copyright y

[2015-03-04 23:34] dirk-thomas commented on #8
I don't think that we should ever remove a copyright year but only include the current year on change.

See http://stackoverflow.com/questions/3487007/when-to-update-the-year-in-open-source-copyright-notice for similar questions.

[2015-03-04 23:57] wjwwood commented on #8
Ok, that works for me too, I'll go through and check that the existing files which were created in 2015 have the right year, others which were created in 2014 have that year. Additionally, if the files were created in 2014, but modified in 2015 that they include both.

I think a tool to check this is sounding better all the time. Again, low priority.

[2015-03-05 00:36] wjwwood commented on #7
Ok, all changes to ros2 should be done, I still need to touch the documentation repository.

[2015-03-05 00:38] wjwwood commented on #7
Ok, I think we're done.

[2015-03-05 00:38] #7 closed

[2015-03-05 05:23] wjwwood commented on #1
Master is compiling for me, the talker and listener example works, and I've added the new repositories to base setup.

Can I get reviews, +1's, for closing this?

[2015-03-05 19:44] wjwwood commented on #1
@dirk-thomas were you able to compile and run the basics (satisfying this issue)?

@esteve @tfoote can you try this out, I'd like to close the issue.

[2015-03-05 19:50] wjwwood opened #9 "Get Windows compiling working"
Acceptance Criteria:

- [x] Get `ament` tools running.
- [x] Get a simple CMake project building and installing with ament tools.
- [x] Get all packages (listed in `ros2.repos`) building and installing.
- [x] Create document to describe how to use Windows to build ros2.

[2015-03-05 19:55] esteve commented on #1
+1

[2015-03-05 20:39] dirk-thomas commented on #1
+1

I was able to `build` the current state and only ran `publisher` / `subscriber` which was working.

[2015-03-05 20:57] #1 closed

[2015-03-06 16:04] dirk-thomas commented on #3
ament/ament_lint#2 implements the necessary CMake infrastructure to register default linters with minimal code.

[2015-03-06 16:18] dirk-thomas commented on #3
ros2/rosidl#5 updates two packages to use the new functionality as well as register its nosetests.

[2015-03-06 16:41] dirk-thomas commented on #8
The functionality could be added to the linter package `ament_copyright`. It would be great if it can not only check the code but also update it if necessary.

[2015-03-06 19:08] wjwwood commented on #3
Connects to ros2/rosidl#5

[2015-03-06 19:44] wjwwood commented on #8
I agree, however, I will say that tools that automatically change my code annoy me. For example, in the Tango project there is a post commit hook that runs everything through clang-format and automatically updates the commit. This was incredibly frustrating and it made my commits messier than they needed to be, mixing style changes with code changes.

I would prefer tools like this tell me there i

[2015-03-06 21:20] dirk-thomas commented on #8
All current linter packages provide the feedback what needs to change.

But some of them also have a command line option to perform the recommended modifications. I consider that a very helpful option to not waste time if the tool has already figured out what needs to be changed.

[2015-03-07 00:03] tfoote commented on #2
Basic scripts working here: https://github.com/tfoote/ros2_batch_ci
Jenkins job on the test farm here: http://54.183.26.131:8080/job/ros2_batch_ci/

Just need to switch back to master from pre_api_review branches.

[2015-03-07 00:32] wjwwood commented on #8
Another item, make sure the actual snippet is consistent: https://github.com/ament/ament_lint/pull/3#discussion_r25989349

[2015-03-07 03:44] wjwwood commented on #9
Ok, so here's an update:

I've got the tools running and I can build up to the `builtin_msgs` package! The `builtin_msgs` package fails on a C++ compiler error which I think might even be fixed on master, but I haven't had time to update my sources lately. What that means to me is that most if not all of our build infrastructure is working, which is pretty exciting.

I've got some pretty straight

[2015-03-07 05:53] wjwwood commented on #9
Ok, after pushing a bit more on it, it turns out linking is not working. Exporting shared libraries on Windows turns out to be rather complicated, or at least unfamiliar to me.

I'm giving up for now, but hopefully I can wrap this up in the first part of next week.

[2015-03-07 09:30] dirk-thomas commented on #2
Permission / ownership problem prevents to read the test results in the workspace: see http://54.183.26.131:8080/job/ros2_batch_ci/ws/ros2_ws/build/osrf_pycommon/

[2015-03-07 11:56] dirk-thomas commented on #3
The linter packages now also use other linters as far as possible: https://github.com/ament/ament_lint/commit/9c9fd1e06f950ad3f1a235f029b35b112b9d1ca2

[2015-03-08 08:11] tfoote commented on #2
@dirk-thomas The scripts are in a repo here for now: filed as in issue: https://github.com/tfoote/ros2_batch_ci/issues/3

[2015-03-09 21:24] tfoote commented on #2
Job setup [here](http://54.183.26.131:8080/job/ros2_batch_ci/), and collecting test results. [ci job source](https://github.com/tfoote/ros2_batch_ci)

[2015-03-10 09:15] wjwwood commented on #9
Another update. I have all but one of the `*setup.bat` files converted to `.bat`. And of the ones I've converted, only the prefix level `local_setup.bat.in` has a todo left.

I have not been able to resolve the exporting of shared libraries across packages yet, though I didn't spend much time on that today. I think that if we can get over that hurdle then we'll be close to having the tool chain fu

[2015-03-10 20:36] #2 closed

[2015-03-10 21:05] tfoote commented on #6
Current test environment Windows 8.1 Visual Studion 2013

[2015-03-10 21:22] tfoote opened #10 "Define the exterior parameter API"
AC:

- [x] Determine the external communication API
 - [x] message types
 - [x] topic names service names and semantics

----

[2015-03-10 21:23] tfoote opened #11 "Define the developer parameter API"
- [x] Determine developer API
 - [x] What methods are made available
 - [x] callback model

----

[2015-03-10 21:34] wjwwood opened #12 "Configure and Enable the cpplint QA tool"
We have a tools for checking our code with `cpplint` but it is not configured to our liking yet.

Acceptance Criteria:

- [x] Decide on a configuration with the team
- [x] Address code style changes
- [x] Reenable the linter ament/ament_lint#36

[2015-03-10 21:36] wjwwood opened #13 "Configure and Enable clang_format QA tool"
We have a tools for checking our code with `clang_format` but it is not configured to our liking yet.

Acceptance Criteria:
- [ ] Decide on a configuration with the team
- [ ] Reenable the linter
- [ ] Create tasks for fixing failing packages

[2015-03-10 21:41] wjwwood opened #14 "Configure and Enable the uncrustify"
We have a tools for checking our code with `uncrustify` but it is not configured to our liking yet.

Acceptance Criteria:

- [x] Decide on a configuration with the team
- [x] Reenable the linter
- [x] Create tasks for fixing failing packages

[2015-03-10 21:58] wjwwood opened #15 "Disable poorly configured linters"
Until we get them properly configured (#12, #13, #14) we should disable them.

AC:

- [ ] Disable the `uncrustify`, `cpplint`, and `clang_format` linters.

[2015-03-11 02:16] wjwwood opened #16 "Cleanup labels"
While trying a few tools some unnecessary labels got created.

AC:

- [ ] Remove any non-default, non-waffle.io related labels from `ros2` and `ament` repository issue trackers.

[2015-03-11 20:16] #15 closed

[2015-03-11 20:22] dirk-thomas commented on #15
I disabled `clang_format` and `cpplint` for now (https://github.com/ament/ament_lint/commit/dc4a6e57f349d6ddd44faba8a08e335c332a0cc8).

I kept `uncrustify` since I didn't see any failing tests for it. I think I chose a minimal configuration which only tests stuff we obviously follow already.

[2015-03-12 08:56] wjwwood commented on #9
Another status update!

There's good new and bad news, I'll start with good. It works! Here's a screen capture:

https://vimeo.com/121977177

So then the bad news. To get this to work I had to use the newest VS, VS 14.0 2015 which is still a technical preview, but should released in this quarter. Basically VS 12.0 2013 is just an incomplete implementation of C++11, and it is missing several critic

[2015-03-12 22:05] dirk-thomas commented on #3
Do you consider this (https://github.com/ament/ament_lint/blob/docs/ament_clang_format/doc/index.rst) to be sufficient to describe how to use the linters? I just want to get some first feedback before writing N if these.

[2015-03-12 22:55] dirk-thomas commented on #3
The configuration for `cppcheck` is pretty standard and looks reasonable to me. It currently does not generate a failing test.

[2015-03-12 22:56] dirk-thomas commented on #3
The documentation for the linter packages is in: ament/ament_lint#9

[2015-03-13 01:32] tfoote commented on #6
It looks like we might be better off trying out appveyor. I'm experimenting here: https://ci.appveyor.com/project/tfoote/ros2-batch-ci

[2015-03-13 02:07] #3 closed

[2015-03-13 23:55] dirk-thomas commented on #14
Configured:

* the `code_width` to be 100 characters
* forced newlines between:
  * `namespace` and open curly brace
  * `template<...>` and class / function declaration
  * `class` and open curly brace
  * `function signature and open curly brace

[2015-03-14 03:51] wjwwood commented on #9
Ok, I've got all examples in the `userland` package compiling and at least the Connext ones are running. I am having an issue with the xtypes and opensplice versions where they crash for some reason. I think that at least the opensplice issue is not isolated to Windows, @esteve mentioned something about crashing on registration of String, which is the same issue I am having now. Clearly it worked

[2015-03-14 03:54] wjwwood opened #17 "Test isolated install on Windows"
See: https://github.com/ament/ament_package/pull/6#issue-60469101

AC:

- [x] Building with the `--isolated` flag works on Windows

This will test out the isolated install `local_setup.bat` file for Windows.

[2015-03-14 08:19] tfoote commented on #6
Notes on setting up the slave: https://gist.github.com/tfoote/caaa9a5c31246ec5a06a

Job running on windows: http://54.183.26.131:8080/job/ros2_batch_ci_windows/

It's using the windows branch of ros2/examples ros2.repos and pulling the outstanding windows branches.

[2015-03-16 16:40] esteve commented on #9
Unrelated to this ticket, but more info about the issue that @wjwwood mentions in his comment. I found out that the OpenSplice examples are linked against Connext too:

[code]

[2015-03-16 22:43] esteve opened #18 "OpenSplice examples are linked against Connext"
If Connext is found, OpenSplice examples are linked against Connext instead of the correct library.

However, if no other DDS vendor is found, examples are properly linked against OpenSplice

[2015-03-16 22:44] esteve commented on #18
I don't really know what repository (or repositories) contains the bug, so I filed this ticket against ros2/ros2

[2015-03-17 00:35] wjwwood opened #19 "Limit setup and local_setup files to .bat on Windows"
Currently when building on Windows there are few places where only a `.bat` comes out, but in other places the Unix equivalent files are also present. We should make that consistent and not produce Unix files when building on Windows.

AC:

- [x] No `.sh`, `.bash`, or `.zsh` files are generated on a full Windows.
- [x] Conversely, no `.bat` files should be generated on Unix.

[2015-03-17 02:18] tfoote commented on #6
There's one outstanding issue blocking building on windows: https://github.com/ros2/rosidl/issues/8

[2015-03-17 20:42] wjwwood opened #20 "Use white space in path for batch CI jobs"
Use it in all possible folder paths (workspace, build space, install space, source space).

[2015-03-17 20:56] #14 closed

[2015-03-17 20:58] wjwwood opened #21 "Fix all test failures on Linux CI Batch Job"
AC:

- [x]  All tests should pass without failure for the Linux CI Batch Job: http://54.183.26.131:8080/job/ros2_batch_ci_linux/lastCompletedBuild/testReport/
  - [x] insufficient version of  `uncrustify` on all OS's ament/ament_lint#20
  - [x] OpenSplice publish / subscribe test fails - boths binaries seem to not talk to each other
  - [x] several `lint_cmake` tests failing
- [x] Missing Connext

[2015-03-17 21:07] wjwwood commented on #8
@esteve, use the tool if possible.

[2015-03-17 21:13] wjwwood opened #22 "Package up RTI's distribution with the extra Messaging library"
AC:

- [ ] Able to `apt-get install` RTI with all of the extensions we need to build our stuff.

[2015-03-17 21:18] tfoote opened #23 "Make batch job flexible to look for same branch name on other repos"
AC:

- [ ] upgrade batch job to detect PR branch and then check out other repos with the same branch name it it exists else fallback to default branch.

[2015-03-17 23:09] esteve commented on #18
`ldd` for `talker__rmw_connext_cpp`:

[code]

[2015-03-17 23:10] esteve commented on #18
`ldd` output for `talker__rmw_opensplice_cpp`:

[code]

[2015-03-18 00:42] wjwwood commented on #18
Have you looked at the linker flags directly, al la `VERBOSE=1`? Are both `libbuiltin_msgs__dds_connext_cpp` and `libbuiltin_msgs__dds_opensplice_cpp` being passed to the linker for `talker__rmw_opensplice_cpp`/`talker__rmw_connext_cpp`?

[2015-03-18 00:54] esteve commented on #18
I added `-DCMAKE_VERBOSE_MAKEFILE=1` to `ament` and yeah, both libraries are passed to the linker when linking both executables:

[code]

[code]

[2015-03-18 00:58] wjwwood commented on #18
Is that the core issue? or do we expect it to select the correct library somehow? @dirk-thomas do you remember how we intended this to work?

[2015-03-18 01:09] esteve commented on #18
@wjwwood and I talked a bit about this. It seems that for some reason, the linker can't pick the right library (probably because there are no symbols that uniquely identify each), so maybe because connext comes first alphabetically, the linker picks it.

One solution would be to make `find_package(simple_msgs)` accept a `COMPONENT` that lets the user point to the RMW implementation they want to us

[2015-03-18 01:28] wjwwood commented on #18
Another option would be to provide infrastructure in each message package like what is in `rmw_implementation`, where by default `<msg_package>_LIBRARIES` contains the library for the default middleware implementation, but then there are CMake macros to get libraries specific to a message library and middleware implementation.

Both that option and the one @esteve described make the choice to not

[2015-03-18 05:21] dirk-thomas commented on #18
Message packages always export the libraries for every type support.

Before the refactoring to C the linker was able to pick "the right" library. Now that doesn't work anymore - we assume it is since they don't contain any specific symbols anymore.

Selecting the "the right" libraries in CMake is challenging - especially since this libraries are often passed over several dependency levels. At the

[2015-03-18 05:27] dirk-thomas commented on #6
I think this should be reopened because the current job is neither building nor running any tests yet.

[2015-03-18 06:00] wjwwood commented on #6
That probably should have been in the AC,  I guess it needs to do the same collecting and reporting with Jenkins like the Linux batch job.

[2015-03-18 06:02] wjwwood commented on #6
@tfoote Make sure to update `setuptools`, otherwise the scripts for things like `ament_copyright` won't get installed.

[2015-03-18 06:14] wjwwood commented on #5
The slave is up and running, I'm working on the job contents now and giving one more go at Connext on OS X.

[2015-03-18 07:42] tfoote opened #24 "Add testing to Batch CI for Windows"
AC:

- [x] Tests are run
- [x] Test results are summarized in jenkins

----

Follow up to ros2/ros2#6

[2015-03-18 07:42] tfoote commented on #6
Created #24 to capture this

[2015-03-18 07:43] #6 closed

[2015-03-18 08:50] wjwwood commented on #6
Actually, they're still not getting installed. I'll look at it with @dirk-thomas tomorrow.

[2015-03-18 19:37] wjwwood commented on #5
Once this pull request is merged:

https://github.com/ament/ament_tools/pull/21

I can remove the line in the job which uses that branch and this should be good to close afterwards.

[2015-03-18 21:25] #5 closed

[2015-03-18 21:25] wjwwood commented on #5
This is done, so I'm closing, speak up if you think there is something that is yet outstanding.

Here is the job: http://54.183.26.131:8080/job/ros2_batch_ci_osx/

[2015-03-18 21:52] dirk-thomas commented on #5
Is the job logic stored somewhere?

[2015-03-18 22:07] wjwwood opened #25 "Move implementation of OS X CI Batch job to a repository"
Currently the tasks are contained completely in the Jenkins job configuration.

AC:

- [x] The steps to build the OS X batch CI moved to a repository.

----

Should we create a repository with the scripts for the batch CI jobs? Currently there is a repo on @tfoote's account: https://github.com/tfoote/ros2_batch_ci which contains the Docker stuff and Linux CI batch logic.

[2015-03-18 22:10] wjwwood commented on #5
I ticked it: https://github.com/ros2/ros2/issues/25

[2015-03-19 18:16] wjwwood commented on #18
It's hard for me to give a +1 to the changes attached to this. Basically the code changes look fine, but the real question is: does this work with on Linux and Windows after you apply the `windows` branches?

So we either have todo one of two things:

- Merge the `windows` knowing this issue still exists and rebase these pull requests, testing everything again and iterating on this pull request if

[2015-03-19 18:24] esteve commented on #18
I already merged the `windows` branches onto `windows-disambiguate-linking` so we can test if these changes work.

[2015-03-20 18:27] wjwwood commented on #18
I propose we review and merge these pull requests so I can rebase the windows branches on top, it's getting to be too difficult to wrangle three sets of branches all at once.

@dirk-thomas @tfoote can you guys review the related pull requests if you haven't already?

@esteve can you merge these pull requests when they're ready?

We've already shown it works on Linux, not it's just about fixing up

[2015-03-20 18:42] esteve commented on #18
I'm going to merge these branches, I need them for the services branches too.

[2015-03-20 18:43] #18 closed

[2015-03-20 18:56] wjwwood commented on #18
Ok, thanks, I'll rebase the windows stuff now.

[2015-03-21 00:18] tfoote commented on #24
It's there and turning over and trying to test. I'd failing to build the tests at the moment. re: ament/ament_tools#23

It's configured to collect the tests, but they aren't being generated yet.

[2015-03-21 00:51] wjwwood commented on #9
Ok, Windows is not building, but I need to fix some structural problems. Currently linux is working with these branches so I'm going to merge and open new pull requests to fix Windows.

[2015-03-21 00:53] #9 closed

[2015-03-21 00:56] wjwwood opened #26 "Fix linking on Windows"
After discussing with @esteve on the whiteboard, I'm to clean up (one more time) the symbols being used for "getting type support handles". The current setup works on Linux and could on Windows, but is pretty confusing and inconsistent.

I'll follow up with the summary of our whiteboard work after this.

AC:

- [x] Compiling and Linking work on Linux and Windows.
- [x] Implementation specific exec

[2015-03-24 20:41] dirk-thomas commented on #25
Put the content as well as the ros2_batch_ci content on a branch in the ros2/ros2 repo.

[2015-03-24 20:58] dirk-thomas opened #27 "Support RPC with Connext XTypes"
Tasks:

- [x] Implement a unit test for server / client use case ros2/examples#13
- [x] Implement parsing of service files in rosidl_parser ros2/rosidl#14
- [x] Implement dynamic type support
- [x] Implement rmw interface

AC:

- ~~Service examples should work with the Connext X-Types Dynamic Data~~
- [x] Service tests should pass with the Connext X-Types Dynamic Data

[2015-03-24 21:04] dirk-thomas opened #28 "Implementation of parameters in rcl / rclcpp"
AC:

- [x] user accessible API
- [ ] demo application using parameters
  - [x] get
  - [x] set
  - [x] list
  - [ ] on_update
  - [ ] on_change
  - [ ] on_create
  - [ ] on_delete

[2015-03-24 23:19] dirk-thomas commented on #25
Beside refactoring the logic into a script (rather then multiple commands in the job) it would also be beneficial to automate the whole job deployment.

Using `ros_buildfarm` it should be only a matter of a couple of lines of Python code (invoking https://github.com/ros-infrastructure/ros_buildfarm/blob/baee67802c4da253f7935b0be0f0d6ed35d4e1c4/ros_buildfarm/jenkins.py#L103 and https://github.com/r

[2015-03-25 10:58] wjwwood opened #29 "Clean up cmake output"
Currently there are tonnes of debug messages being output to the console, which is good while developing, but it's also starting to make it more difficult to find important information. We should go through the ament cmake code and find as many places as possible to replace `message()` with some macro that we can enable and disable with a CMake argument, maybe something like `AMENT_VERBOSE` or som

[2015-03-25 11:40] wjwwood commented on #26
Ok, I've refactored the way we define the `get_type_support_handle` function across different implementations of rmw.

With these pr's merged, I can compile and run both the opensplice and connext executables on Windows, Linux, and OS X. I double checked that we don't have the linking cross talk either.

One outstanding problem is that I haven't updated the `get_service_type_support_handle` functi

[2015-03-25 22:17] wjwwood commented on #26
Ok, I'm refactoring these branches a bit after discussing with @dirk-thomas and @esteve.

This is the new plan:

- `rosidl_generator_c` provides:
 - `rosidl_generator_c/message_type_support.h`: which defines `rosidl_message_type_support_t`
 - `rosidl_generator_c/service_type_support.h`: which defines `rosidl_service_type_support_t`
- `rosidl_generator_cpp` provides:
 - `rosidl_generator_cpp/messag

[2015-03-25 22:31] dirk-thomas commented on #26
LGTM

Additionally `rosidl_generator_cpp` can provide:
* `rosidl_generator_cpp/{message, service}_type_support.hpp`: which contains an `#error` directive pointing out that no implementation is on the path

[2015-03-25 22:35] esteve commented on #26
LGTM too, plus @dirk-thomas comment

[2015-03-26 05:12] wjwwood commented on #26
Ok the new plan has been implemented on each of the attached branches as new commits. I tried to keep the non-plan related changes to separate commits, so you might want to review by commit.

I'm testing on Windows now, I'll test on Linux too after that.

[2015-03-26 05:46] dirk-thomas commented on #26
The new commits on all 4 PRs look good to me. Once it works on all platforms `rosidl_generator_cpp` still needs the fallback header with the `#error`.

[2015-03-26 06:11] wjwwood commented on #26
@dirk-thomas I forgot about that, I should test it now.

[2015-03-26 07:05] wjwwood commented on #26
Looks like it works fine, also testing is complete on Windows and Linux, I'm going to go ahead with merging, feel free to do post merge reviews, we can also follow up.

[2015-03-26 07:15] wjwwood commented on #26
@dirk-thomas I spoke too soon on the headers with `#error` warnings in them. It seems they will always get installed to `<prefix>/include` when inevitably ends up ahead of the other includes. I'll have to remove those from master.

[2015-03-26 07:17] wjwwood commented on #26
I removed them in 24ed8cc, we can think about another way to have a trip wire header like that tomorrow.

[2015-03-27 19:24] dirk-thomas commented on #4
Example test provided in ros2/examples#7.

[2015-03-28 17:27] #4 closed

[2015-03-28 23:02] wjwwood commented on #25
I've moved (and improved) the implementation of the batch script to the ros2/ros2 repository and updated the job:

- https://github.com/ros2/ros2/tree/ci_scripts
- https://github.com/ros2/ros2/blob/ci_scripts/osx_batch/osx_batch_build.py#L67-L128

Here is the configuration of the job as it is:

[code]

I'm posting it here for posterity, and I'm going to punt the automatic configuration of the job

[2015-03-30 21:12] dirk-thomas opened #30 "revisit type support identifiers"
After the refactoring to support C as well as Windows the type support identifiers are not working as they were before.

E.g. for Connext XTypes a string comparison is necesssary (ros2/rmw_connext#2). For other type supports the check is not being performed anymore.

[2015-03-30 22:56] wjwwood commented on #30
Yeah, this is my fault, I wasn't aware that the identifier check was being done in this manner (not using `strcmp`). Hopefully this kind of thing will happen less often once we get some CI. Ideally when we revisit this we'll have some automated test which ensures it is still working.

[2015-03-30 23:22] #19 closed

[2015-03-31 01:10] wjwwood commented on #25
I'll go ahead and create the `ros_buildfarm` script to create this job, since something more complicated will probably take too long.

But I've run into some problems.

@dirk-thomas The `ros_buildfarm.templates.expand_template` function does not allow you to pass in an external template file nor a string for the template. There also does not appear to be a similar function in the module to achieve

[2015-03-31 05:52] dirk-thomas commented on #25
@wjwwood The ros_buildfarm templates have never been used outside of the repository. Probably the best way would be to allow extending `template_basepath` with a search path like list of base paths?

Each job template can choose to reuse snippets if it makes sense and avoid repetition but can also be completely self contained. Since the current jobs are only temporary solutions I don't have a pref

[2015-03-31 05:54] dirk-thomas commented on #6
The windows slave lacks `flake8`: search for `ImportError` in http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_windows/84/consoleFull

[2015-03-31 06:27] wjwwood commented on #6
I installed flake8, added a note to the internal wiki, and updated the configuration so that it should (hopefully) ignore the return code of the last two commands and mark it unstable.

[2015-03-31 06:44] wjwwood commented on #25
Ok, I just created a command which will push the raw configuration posted above. I'm testing it here: http://54.183.26.131:8080/job/ros2_batch_ci_osx_testing/1/console

I think this is ready to close.

[2015-03-31 17:50] wjwwood commented on #24
The windows job is turning over now, I propose we close this one.

@dirk-thomas @esteve @tfoote

[2015-03-31 17:58] esteve commented on #24
@wjwwood Agreed.

[2015-03-31 19:13] dirk-thomas commented on #24
The current job does not have a single successfully running test. Therefore I don't think this should be closed yet.

[2015-03-31 19:56] wjwwood commented on #24
The `osrf_common` tests are running and being captured.

I would have preferred to open a new issue rather than continuously extend the criteria of this issue, but since we've already done it, we can leave it I guess.

[2015-03-31 19:57] wjwwood commented on #25
Bump, @dirk-thomas @esteve @tfoote.

[2015-03-31 19:59] tfoote commented on #20
Blocked on ament/ament_tools#27

[2015-03-31 20:03] dirk-thomas commented on #25
The job lgtm. The script uses some relative path (`../../ros_buildfarm`) as a fallback which looks weird. Should that be removed?

[2015-03-31 20:11] wjwwood opened #31 "Link error for Connext services on OS 10.10"
On OS X 10.10 I get this linkedit error:

[code]

My current theory is that the shared libraries provided by RTI was not compiled with the same version of the std library as I have here on 10.10. I'd like to reach out to RTI on this one.

Until this gets resolved, the OS X CI job will continue to fail.

[2015-03-31 20:29] esteve opened #32 "Consolidate information about Windows"
Information about running and deploying our code on Windows is in two separate wikis, it may make sense to have them in a single page, but on separate sections.

[2015-03-31 20:34] wjwwood commented on #32
Thanks for following up on this, but I already consolidated them. I'll close this for now, you can comment here if you see other problems.

[2015-03-31 20:34] #32 closed

[2015-03-31 20:47] dirk-thomas commented on #24
Done.

[2015-03-31 20:47] #24 closed

[2015-03-31 20:49] dirk-thomas opened #33 "Compare OSX unit test results with Linux"
Depends on ros2/ros2#21

AC:

- [ ] either equal test counts or
- [ ] known differences
- [x] cppcheck missing
- [x] uncrustify missing (http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_osx/ws/workspace/build/rcl/Testing/Temporary/LastTest.log/*view*/)
- [x] PEP8 test failing but not on Linux (due to newer version of PEP8): https://github.com/ament/ament_lint/commit/9a51c71c3e15c2fab2c63e5671

[2015-03-31 20:49] wjwwood opened #34 "Compare Windows unit test results with Linux"
Depends on ros2/ros2#21

AC:

- [ ] either equal test count or
- [ ] different test count with rational differences

[2015-03-31 23:22] wjwwood commented on #25
I think it's convenient to be able to just clone them as peers, but I suppose it could be surprising if you aren't expecting for it to import from there. I'll remove it.

[2015-03-31 23:24] #25 closed

[2015-04-01 00:19] wjwwood commented on #31
I looked at this with @gerkey and poked around on the internet. It seems there is good evidence supporting the idea that my version of `std::string`, which is defined in `libc++`, generates a different symbol from the `std::string` with the GNU std library called `libstdc++`.

I cannot work around this by choosing to use `libstdc++` because on OS X it does not support C++11, which we are using. Th

[2015-04-01 00:34] dirk-thomas commented on #21
https://github.com/ros2/rosidl_dds/commit/64a1f36785ee31c3584b6a0adf3d1ca069f92c66
https://github.com/ros2/rmw_connext/commit/57cf7f523d6788980bea118ba1828b1a996fa70d
https://github.com/ros2/rmw_opensplice/commit/cb75a3d995e78f44df0087698eab5b96defb40a9

[2015-04-01 00:41] wjwwood commented on #21
Just FYI, there is another CMake linter I found the other day: https://github.com/polysquare/polysquare-cmake-linter

[2015-04-01 01:49] tfoote commented on #20
I've submitted several patches. However I've run into a problem in that idlpp from opensplice is not whitespace safe. When invoked with quoted strings. (using  ros2/rmw_opensplice#22  and the other patches)

[code]
It internally invokes cppgen with unquoted paths.
[code]

This is something out of our control

[2015-04-01 05:17] dirk-thomas commented on #20
@tfoote Can you please fill this upstream so that it might be addressed in future versions of OpenSplice.

[2015-04-01 21:34] tfoote commented on #20
filed upstream, see link above

[2015-04-01 22:18] esteve commented on #22
@dirk-thomas @tfoote @wjwwood I packaged the messaging library at https://github.com/osrf/rticonnextdds-messaging, let me know if it works for you. It's not `apt-get`'able because it's private and I didn't think we needed the infrastructure, so where should we put the generated .debs?

[2015-04-01 22:41] wjwwood commented on #22
As a download on a release tag, like we've attached things for OpenSplice: https://github.com/osrf/opensplice/releases/tag/6.4.0-0

[2015-04-01 23:06] esteve commented on #22
@wjwwood Done: https://github.com/osrf/rticonnextdds-messaging/releases/tag/ubuntu%2Ftrusty%2F5.1.0

[2015-04-03 18:19] dirk-thomas commented on #8
I think this has been addressed while adding all the missing copyright / license information as part of https://github.com/ament/ament_lint/pull/15#issuecomment-88665707

[2015-04-03 19:05] #8 closed

[2015-04-03 19:06] wjwwood commented on #8
Sounds good to me.

[2015-04-03 23:17] esteve commented on #22
New release:

https://github.com/osrf/rticonnextdds-messaging/releases/tag/ubuntu/trusty/5.1.0-2

[2015-04-06 16:08] #22 closed

[2015-04-06 20:39] tfoote commented on #22
Note you also need these packages to build upon: https://github.com/osrf/rticonnextdds-src/releases/tag/5.1.0-2

[2015-04-07 18:03] dirk-thomas commented on #21
@esteve @tfoote @wjwwood Please take a close look to the reference PRs which apply the uncrustify formatting rules. Even if it is a lot of white spaces changes we should make sure that the formatting is exactly what we want - and if necessary adjust it before merging them.

[2015-04-07 19:49] dirk-thomas commented on #21
I have filled the following tickets upstream:

* https://github.com/bengardner/uncrustify/issues/362
* https://github.com/bengardner/uncrustify/issues/363

[2015-04-07 20:35] tfoote commented on #10
Messages defined at: https://github.com/ros2/rcl_interfaces/tree/master/rcl_interfaces

Not compiling at the moment though.

[2015-04-07 20:41] dirk-thomas opened #35 "Patch for OpenSplice to work with white spaces"

[2015-04-07 20:43] tfoote commented on #20
Blocked waiting for upstream. tracking a patch at: https://github.com/ros2/ros2/issues/35

[2015-04-07 21:12] dirk-thomas commented on #10
We should add:
* querying of parts of the hierarchy
* events for add / update / delete
  * both for an example use case of a user interface

We need to clarify:
* if a leaf and a path can overlap?
  * how does that later map to complex parameter types if we would allow complex messages
* how to distinguish that in the API?

[2015-04-07 21:27] dirk-thomas opened #36 "Unify Jenkins batch jobs"
Acceptance Criteria:

- [x] Jenkins jobs are parameterized on:
 - [x] branch to use on ros2/ros2, defaults to `ci_scripts`.
 - [x] whitespace in paths, e.g. workspace, source, build and install spaces.
 - [x] whether or not to try to use Connext.
- [x] Unify Jenkins jobs a much as possible.
- [x] Minimize the platform specific differences in the jobs.

[2015-04-07 21:32] dirk-thomas commented on #33
* cppcheck missing
* PEP8 test failing but not on Linux

[2015-04-07 21:38] dirk-thomas commented on #34
* clang-format missing
* uncrustify missing
* failing PEP8 test but not on Linux?

[2015-04-07 21:39] dirk-thomas commented on #21
* missing Connext

[2015-04-08 18:23] dirk-thomas commented on #36
We should consider to generate multiple jobs per platform. E.g. on Linux we should have one job using the official Connext binary package and another one using our custom Debian package.

[2015-04-08 18:30] dirk-thomas commented on #21
I have updated the list in the first comment after looking through the currently failing tests.

[2015-04-08 19:41] dirk-thomas commented on #29
I have removed a lot of debug messages in various repositories. The output should be much less verbose now.

I will mark this closed for now. If there is anything specific remaining which you think should be removed please comment / reopen.

[2015-04-08 19:41] #29 closed

[2015-04-09 02:16] wjwwood commented on #36
Ok, I've parameterized a version of the Windows job, please take a look and if there are no suggestions, I'll move forward making the OS X and Linux jobs very similar.

[2015-04-09 02:16] wjwwood commented on #36
http://54.183.26.131:8080/job/ros2_batch_ci_windows_experimental/

[2015-04-09 18:06] dirk-thomas commented on #36
The first build with a custom branch looked good (number 16, I aborted it after seeing the correct checkout).

I then tried with spaces (http://54.183.26.131:8080/job/ros2_batch_ci_windows_experimental/17/) and that seems to fail. The PYTHONPATH seems to be wrong - likely a problem in one of the bat files.

[2015-04-09 18:08] dirk-thomas commented on #36
When switching between spaces and no spaces it also does not clean the other workspace folder from previous builds.

[2015-04-09 19:14] wjwwood commented on #36
In this issue I'm really only concerned about whether or not the correct folders were passed to the tools, not whether or not our entire software stack support whitespace since we have outstanding known issues.

It does, it just doesn't clear previous builds of a different configuration. If you build spaces, no spaces, then spaces again it will remove the first one with spaces. I'd rather not forc

[2015-04-10 01:04] dirk-thomas commented on #36
Since the failing job when white spaces are enabled is specific to the Windows build I would say it looks good and you can go ahead and use the same template for Linux / OS X.

[2015-04-13 18:27] dirk-thomas opened #37 "Each package needs its own visibility control macros"
Reusing the macros from another package does not work since they will affect how symbols from recursive headers are treated.

E.g. ros2/rosidl_dds#12 was not working since it used the ROSIDL macros from the rosidl_generator_c package.

[2015-04-13 18:29] dirk-thomas commented on #30
The two PRs address the Connext XTypes only. I still have to look for a similar solution for the other type supports.

[2015-04-13 20:02] tfoote commented on #10
Added Events message and topic.

Differentiated parameters and parameter groups. Allowed recursive or non-recursive queries.

Standard topics documented in [README](https://github.com/ros2/rcl_interfaces/blob/master/README.md)

[2015-04-13 20:58] dirk-thomas commented on #10
The README mentions `ParameterEvent` but the message file is called `ParamEvent`.

[2015-04-13 20:58] dirk-thomas commented on #10
Can a `ParamEvent` event message contain the same parameter in multiple of the fields?
If yes, what is the resolution order? If no, that should be states in the message.

[2015-04-13 21:00] dirk-thomas commented on #10
The CMake file uses `builtin_msgs` which is not listed as a dependency in the manifest.

[2015-04-13 21:10] dirk-thomas commented on #10
With the background of our recent discussion `sub_groups` (https://github.com/ros2/rcl_interfaces/blob/437f5b25539ccd2226b4a36c731d74f7446a4601/rcl_interfaces/srv/ListParamsByPrefix.srv#L10) makes sense. But I think it needs a couple of sentences (in the message or readme) to describe what it is.

[2015-04-14 18:26] dirk-thomas commented on #30
Two more PRs to readd typesupport checking to static connext and opensplice.

Ready to be reviewed.

[2015-04-14 20:41] dirk-thomas commented on #10
A parameter should support the type `binary data`.

[2015-04-14 20:53] tfoote commented on #10
* Change to HasParams (multiple)
 * Shorten ListParams name.
 * Provide event stream of descriptions only
 * Specify events will never be batched. All changes are published.
 * Can change them all to Parameter instead of Param
 * Add support for byte array.

[2015-04-14 20:55] tfoote commented on #20
Close in favor of #36

[2015-04-14 20:55] #20 closed

[2015-04-14 23:35] wjwwood commented on #36
Ok, I think this is ready for review. I have a "launcher" job which will spawn each of the other three batch jobs, forwarding along the options:

- http://54.183.26.131:8080/job/ros2_batch_ci_launcher/

Then we have each of the jobs:

- http://54.183.26.131:8080/job/ros2_batch_ci_linux/
- http://54.183.26.131:8080/job/ros2_batch_ci_osx/
- http://54.183.26.131:8080/job/ros2_batch_ci_windows/

The j

[2015-04-14 23:40] wjwwood opened #38 "Enhance CI launcher job to pass "default" parameter"
Currently you can set the same parameters on the launcher job as on the OS specific jobs, but there is not a way to pass only some options to the downstream OS specific jobs. For example, since the launcher job has the USE_CONNEXT option, the downstream jobs have to all use the same setter, so you couldn't have it on for Linux and Windows but off for OS X.

[2015-04-14 23:41] wjwwood commented on #38
I'm not sure what the right technical approach is for this, I guess you could duplicate all of the options on the launcher job, one set for each OS, but it's not clear to me how to pass those down the other jobs as the right parameters without also naming the parameters in each job with an OS specific name.

[2015-04-14 23:55] wjwwood commented on #36
I've also merged `ci_scripts2` into `ci_scripts` and removed the extra jobs.

[2015-04-15 01:21] dirk-thomas commented on #36
The license file on the branch (https://github.com/ros2/ros2/blob/ci_scripts/LICENSE) is not identical to the template (white spaces before the first content line). Also the license file should not contain the year and osrf reference. Instead that should only be part of the source files.

[2015-04-15 01:22] dirk-thomas commented on #36
The script `create_jenkins_job.py` contains a lot of xml for the job configuration. Should this be extracted into "snippet" files for easier reading / editing? Similar as for the ros_buildfarm repo.

[2015-04-15 07:20] wjwwood commented on #36
LICENSE file has been updated and I moved the job xml templates out of the python script.

[2015-04-15 07:29] tfoote commented on #36
+1

[2015-04-15 08:08] wjwwood commented on #21
I finally fixed the communication problem within docker, I had to do `docker run` with the `--privileged` option and I had to add an `ifconfig eth0 multicast` as part of the run (not possible in the build part of the docker image and it requires `--privileged`). After that the userland talker/listener test passes.

Now the only failing tests on this Linux build are uncrustify related:

http://54.1

[2015-04-15 08:50] tfoote commented on #10
I've updated it to conform to the review notes. @dirk-thomas @wjwwood @esteve please review

[2015-04-15 15:55] dirk-thomas commented on #36
+1

[2015-04-15 16:09] esteve commented on #36
+1

[2015-04-15 16:28] dirk-thomas commented on #10
The `GetParameters` service should only pass a list of parameter names rather then a description which includes the type.

[2015-04-15 16:30] dirk-thomas commented on #10
Do we want to include an optional "description" for a parameter? I think this was a highly requested feature in ROS 1. I am asking because I don't like the current term `ParameterDescription`. I am not sure yet what a better term would be.

[2015-04-15 16:31] dirk-thomas commented on #10
For consistency I would suggest renaming a field and the enums in `ParameterDescription`:
rename the field `parameter_type` to just `type` and enums from `*_PARAMETER` to `*_TYPE`.
This also applies to the fields in services, e.g. `descriptions` in `ListParameters`.

[2015-04-15 16:31] dirk-thomas commented on #10
I would suggest renaming the topic `parameter_updates` to `parameter_events` since an event does not only contain updates.

[2015-04-15 16:34] dirk-thomas commented on #10
The current service `HasParameters` requests a list of parameters but only receives a single boolean.

[2015-04-15 16:39] dirk-thomas commented on #10
The comment in the `ParameterEventDescriptions` message only mentions a single description. @tfoote Should I provide a PR for those since it might become a lot of tiny comments?

[2015-04-15 17:07] dirk-thomas commented on #10
Looking at other solutions storing arbitrary typed information like `QVariant` I am not sure if the current separation (`ParameterDescription` / `Parameter`) makes sense. E.g. userland code can not pass a QVariant-like structure along (without using the full `Parameter` message containing more information then necessary). If we would follow `QVariant` style we would need a separate message wrappin

[2015-04-15 19:17] esteve commented on #36
The Linux slave now finds Connext properly: http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_linux/15/console

[2015-04-15 19:24] wjwwood commented on #36
@esteve can you make a pull request to merge your version of `ci_scripts`?

[2015-04-15 19:28] esteve commented on #36
@wjwwood https://github.com/ros2/ros2/pull/39

[2015-04-15 19:58] tfoote commented on #10
We've designed the parameters to have declared types. This will allow us to fully specify and verify the API in the future. And all code interacting with parameters will not require runtime type checking. That's why the type is part of the description.

Related to the description, I group that with the declaration of the API and also supporting declaring ranges for a dynamic reconfigure type GUI.

[2015-04-15 20:27] dirk-thomas commented on #10
The problem with requesting descriptions (names with types) is that you can *not* use the service `GetParameters` without calling `ListParameters` before if you only know that the parameter type is a number (but could be int or float).

Also you could invoke `HasParameters` with a parameter name and a type x and get the response `False` because the parameter only exists with a different type.

The

[2015-04-15 20:30] dirk-thomas commented on #10
Regarding the description I would expect that future extensions (like a range or textual description of a parameter) would be added to the `ParameterDescription` message. And it is certainly not desired to call a service like `GetParameters` with all the information from this description message.

[2015-04-15 20:30] dirk-thomas commented on #10
For the `ListParameters` service I referred to the response field `parameter_descriptions` which could be shortened to `descriptions`.

[2015-04-15 22:01] wjwwood commented on #33
ros2/ros2#31

[2015-04-15 22:05] wjwwood commented on #34
ros2/rmw_connext#20

[2015-04-15 22:08] #36 closed

[2015-04-15 22:09] wjwwood commented on #30
Are there any more outstanding PR's that need to be made for this? If not I think it's good to move to 'done'.

[2015-04-15 22:13] wjwwood opened #40 "Audit build caching"
It seems that repeat builds of the ROS 2 stack with `ament build` will result in rebuilding or even regenerating code in parts of the system.

See: https://github.com/ament/ament_tools/pull/32#issuecomment-93581112

[2015-04-15 22:18] #30 closed

[2015-04-15 23:57] wjwwood commented on #21
This build is green: http://54.183.26.131:8080/job/ros2_batch_ci_linux/

[2015-04-15 23:58] wjwwood commented on #21
:fireworks: Yay! :fireworks:

I'll close this now, deferring to ros2/ros2#33 and ros2/ros2#34 for OS X and Windows respectively.

[2015-04-15 23:58] #21 closed

[2015-04-16 19:11] dirk-thomas commented on #34
I have updated the uncrustify wrapper package to work on windows (supposingly): https://github.com/ament/uncrustify/commit/96f42bcda8e60d705a028a0f73a7d3b48b327a2f

@wjwwood Currently Visual Studio on the Windows slave does not work anymore. Once this is fixed please trigger another build to check if it makes the uncrustify tests pass.

[2015-04-16 23:38] dirk-thomas commented on #21
The current linux batch job does not use Connext.

[2015-04-17 17:42] dirk-thomas commented on #21
The current linux batch job (http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_linux/27/) fails the test_publish_subscribe with OpenSplice. It seems that both endpoints can't communicate again?

[2015-04-17 18:36] wjwwood commented on #21
@dirk-thomas maybe it's something else this time. Last time it said in the logs that multicast was not available in the ospl log, but now it doesn't:

http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_linux/ws/workspace/src/ros2/examples/userland/ospl-info.log

(Btw the tests drop the ospl log in the source space)

The next thing to do would be to log in to the docker instance locally and run

[2015-04-17 19:27] dirk-thomas commented on #34
All uncrustify tests: passing

[2015-04-20 20:24] dirk-thomas commented on #40
The first item to address is that templated message files are always overwritten. The above four PRs change that so that the generated files are only overwritten when their content actually changes. Otherwise they are not touched.

[2015-04-21 01:38] dirk-thomas commented on #40
I can't find any unnecessary operations in the log of a repeated build anymore.

@esteve @tfoote @wjwwood Please run a repeated build (with the above PRs checked out / merged) and review the build log. Then either confirm that this can be closed or comment with specific parts from the build log which should be skipped.

[2015-04-21 01:45] tfoote commented on #40
These individually looks reasonable. However there's a lot of repeated code snippets for the write file if changed which would be much better to consolidate into a function. (11 instances)

[2015-04-21 17:33] dirk-thomas commented on #40
@tfoote I agree that refactoring the functionality would be desired but consider that for a separate PR.

[2015-04-21 20:39] gerkey commented on #10
@wjwwood suggests having HasParam return the type, perhaps in the ParameterDescription (if it exists), or false/not set (if it doesn't exist).

[2015-04-21 20:55] gerkey commented on #37
This is a pattern that we expect to have to follow for every C/C++ library for every package.  So, if possible, identify shortcuts or ways to reuse code.  At the very least, we should have documentation that explains how to add this to a new package.

[2015-04-21 21:16] gerkey commented on #28
We need to schedule a design review for this API, in particular to discuss the class structure of the parameter API (e.g., moving some of its functionality out of Node).

[2015-04-21 21:24] gerkey commented on #33
Can be closed with a lower test count if we can show that the missing tests are due to the lack of Connext, because of ros2/ros2#31.

[2015-04-21 21:30] gerkey opened #42 "Write unit test using various types"
Write unit tests ensuring correct transmission of data from publishers to subscribers, exercising all primitive types, static arrays, dynamic arrays, and some amount of nesting.

[2015-04-21 21:33] gerkey opened #43 "Review API of generated message code"
Revisit generated message code, make changes, document the result.

[2015-04-21 22:07] tfoote opened #44 "Create reusable function to overwrite template files only if changed"
This will save many identical lines of code such as the 11 copies in #40

[2015-04-21 22:07] tfoote commented on #40
separate is fine by me ticketed: #44 to not forget.

[2015-04-21 22:15] wjwwood commented on #33
Linux (without Connext) currently has 408 tests:

http://54.183.26.131:8080/job/ros2_batch_ci_linux/50/testReport/

OS X has 401 tests:

http://54.183.26.131:8080/job/ros2_batch_ci_osx/93/testReport/

I'm looking at the differences.

[2015-04-21 22:34] wjwwood commented on #33
Actually after running an up-to-date build of OS X it also has 408 now:

http://54.183.26.131:8080/job/ros2_batch_ci_osx/94/testReport/

[2015-04-21 22:34] #33 closed

[2015-04-21 22:34] wjwwood commented on #31
TODO: re-compare test numbers (https://github.com/ros2/ros2/issues/33) after this is fixed.

[2015-04-22 01:26] dirk-thomas commented on #40
Closing for now.

[2015-04-22 01:26] #40 closed

[2015-04-23 20:47] dirk-thomas commented on #27
The `Requester`  / `Replier` API is templated and passing `DynamicData` seems to not work. Waiting for response on question to support.

[2015-04-24 23:58] wjwwood opened #46 "Parameter Review Roundup"
- [x] name symmetry: parameter_name or just type: https://github.com/ros2/rcl_interfaces/blob/master/rcl_interfaces/msg/ParameterDescriptor.msg
- [x] Response callback optionally also gets original request. https://github.com/ros2/rclcpp/issues/35
- [x] Restructure Messages based on discussion:

GetParameters.srv
[code]

ParameterType.msg
[code]

ParameterValue.msg
[code]

GetParameterTypes.srv
[c

[2015-04-28 00:09] dirk-thomas commented on #46
After re-reading our summary from the last meeting I would suggest the following changes:

* `ParameterType.msg`: rename the enum types to exact types, e.g. `INT64` vs `INTEGER` to clarify what exact value range they can store and keeping the option to add further primitive types in the future.

* instead of the term `Description` (which could also refer to textual description) change it to `Descr

[2015-04-28 00:16] wjwwood commented on #46
+0, the `int` in most programming languages doesn't describe the exact size of the integer. So I think there is precedence for this, but I'm not passionate about it one way or the other.

+1 That sounds good to me.

[2015-04-28 20:21] dirk-thomas commented on #42
* Create binaries for:
  * [x] publish / subscribe a message with a primitive type
  * [ ] publish / subscribe a message with fields for all primitive types
  * [ ] publish / subscribe a message with fields for all primitive types
  * [ ] publish / subscribe a message with fields for static arrays of all primitive types
  * [ ] publish / subscribe a message with fields for dynamic arrays of all pr

[2015-04-28 20:38] dirk-thomas commented on #46
The current `ParameterEvent` message uses `ParameterDescriptor` for the deleted parameters. Should we change this to just use the `Parameter` type?

[2015-04-28 20:39] dirk-thomas commented on #46
One message definition is still called `ParameterEventDescriptions` and should probably be named `ParameterEventDescriptors`?

[2015-04-28 20:42] dirk-thomas commented on #46
Some comments in the message definitions need to be updated:
* https://github.com/ros2/rcl_interfaces/blob/fe5506cfe874c91dcb183581a164712f646db2a5/rcl_interfaces/msg/Parameter.msg#L2
* `ParameterEvent`: mention constraints about entries with same names in different fields as discussed (same for `ParameterDescriptor`)

[2015-04-28 20:45] dirk-thomas commented on #46
Suggestion to change the field `parameter_names` in `GetParameterTypes` to match other services `DescribeParameters`.

[2015-04-29 19:06] dirk-thomas commented on #31
Latest job failing with this: http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_osx/95/console

    Undefined symbols for architecture x86_64:
      "connext::check_retcode(DDS_ReturnCode_t, char const*, RTILogMessage const&, std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&, bool)", referenced from:
          connext::details::type_support_adapter<DD

[2015-04-30 00:33] #37 closed

[2015-04-30 22:42] dirk-thomas commented on #27
Follow-up tickets for Windows issues:
* https://github.com/ros2/rmw_connext/issues/30
* https://github.com/ros2/rmw_connext/issues/31

Known issues on OS X:
* https://github.com/ros2/ros2/issues/31

[2015-04-30 22:43] #27 closed

[2015-05-05 20:35] tfoote commented on #10
rcl_interfaces defined in several other follow up tickets.

[2015-05-05 20:35] #10 closed

[2015-05-05 20:38] tfoote commented on #46
@esteve @tfoote confirm checkboxes covered and close

[2015-05-05 20:39] tfoote commented on #31
New package from RTI, trying to test, but it's not working out of the box.

[2015-05-05 21:32] dirk-thomas opened #48 "generate interface headers in subnamespace"
With the current approach (which is the same in `ROS 1 C++`) the header files of messages, services, derived service messages (request and response) all share the same namespace with the package code.

* [x] Placing the generated code of messages / services in a subfolder / subnamespace avoids collisions with other code in the package.

* [x] Separating the headers for messages and services in sep

[2015-05-06 00:36] dirk-thomas commented on #42
Request / reply tests currently blocked by ros2/rclcpp#29.

[2015-05-06 19:17] wjwwood commented on #31
Ok, I've got it working, here is a passing job (with all the tests I would expect) with Connext turned on:

http://54.183.26.131:8080/job/ros2_batch_ci_osx/119/

[2015-05-06 19:17] #31 closed

[2015-05-12 00:00] esteve opened #49 "Package new Connext with Request/Reply API"

[2015-05-12 20:52] wjwwood opened #51 "Create VS2015 Connext binaries from source"
Now that we have the upstream source for RTI, try building a VS2015 version of their messaging library.

This would hopefully fix ros2/rmw_connext#31

Connects to ros2/ros2#70

[2015-05-15 00:13] wjwwood commented on #11
@esteve should this be in review?

[2015-05-15 17:19] esteve commented on #11
@wjwwood not yet, the PR I attached to this only implements the methods needed for accessing the parameter data in a node. I'll attach another PR that exposes this through the `AsyncParametersClient` and `SyncParametersClient` APIs.

[2015-05-18 23:39] dirk-thomas commented on #42
Currently the following tests pass:

* publisher_subscriber_cpp__empty
  * [x] rmw_connext_cpp__rmw_connext_dynamic_cpp
  * [x] rmw_connext_cpp__rmw_opensplice_cpp
  * [x] rmw_connext_cpp
  * [x] rmw_connext_dynamic_cpp__rmw_connext_cpp
  * [ ] rmw_connext_dynamic_cpp__rmw_opensplice_cpp
  * [x] rmw_connext_dynamic_cpp
  * [x] rmw_opensplice_cpp__rmw_connext_cpp
  * [x] rmw_opensplice_cpp__rmw_con

[2015-05-19 02:39] #49 closed

[2015-05-19 20:43] dirk-thomas commented on #11
Ready to be reviewed.

[2015-05-19 20:53] tfoote commented on #51
The cmake logic in the source do not support Windows layout. it's all assuming /usr. Will need to modify the cmake to use the Windows style layout.

[2015-05-20 17:10] dirk-thomas commented on #42
Since now all tests pass for empty / all primitives messages / services I will continue adding for types.

[2015-05-20 17:44] dirk-thomas commented on #42
Currently the following tests pass:

* publisher_subscriber_cpp__staticarrayprimitives
  * [ ] rmw_connext_cpp__rmw_connext_dynamic_cpp
  * [ ] rmw_connext_cpp__rmw_opensplice_cpp
  * [ ] rmw_connext_cpp
  * [ ] rmw_connext_dynamic_cpp__rmw_connext_cpp (ros2/rmw_connext#34)
  * [ ] rmw_connext_dynamic_cpp__rmw_opensplice_cpp
  * [ ] rmw_connext_dynamic_cpp
  * [ ] rmw_opensplice_cpp__rmw_connext_c

[2015-05-22 01:28] wjwwood commented on #11
Should this be closed now? The connected pr's are merged.

[2015-05-22 15:21] esteve commented on #11
Yep, closing now.

[2015-05-22 15:21] #11 closed

[2015-05-22 23:01] dirk-thomas commented on #16
Done.

[2015-05-22 23:01] #16 closed

[2015-05-26 17:08] dirk-thomas commented on #42
This should finally cover all the above tests. If nobody has suggestions for further communication tests I would propose to close this.

[2015-05-26 19:38] tfoote commented on #42
looks complete

[2015-05-26 20:44] esteve commented on #46
Naming: we're going to use name and type for ParameterDescriptor.

[2015-05-26 20:46] #42 closed

[2015-05-26 23:51] dirk-thomas commented on #48
As a first step I have polished all the message templates:

* the generated code states from which template file it was generated from
* make the generated code more readable
* generated code (mostly) following code style
* stripped obsolete comment and debug output

with the following commits:
* https://github.com/ros2/rosidl/commit/c03cd1f8490485586d4213222a2ef7a439131c50
* https://github.com/ro

[2015-05-29 22:15] dirk-thomas commented on #48
The PRs pass on the farm:
* http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_linux/123/
* http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_osx/135/ (OS X had the same tests fail before these changes)

@esteve @tfoote @wjwwood Please review the seven referenced PRs.

Please also comment on my previous question whether the generated message files should use camel case (+ `_Request` suffix

[2015-06-01 18:56] esteve commented on #48
I like lowercase/underscore, even if the naming convention is not the same as ROS 1. I think it looks cleaner and consistent with our code.

[2015-06-01 19:03] wjwwood commented on #48
These are goals we already have:

- `.msg` files follow the Class naming scheme (camel case, alpha only)
- each `.msg` generates a file with only the data structure, in which primitive types resolve to built-in language types where possible (only including other message structures where ever possible).

Let me try to enumerate the options (c++, using the example `FooBar.msg`):

#### Option 1

We g

[2015-06-01 19:04] wjwwood commented on #48
I think those are the options, please edit my post if you have corrections or something to add (options or goals).

We should go over these together, in person, and then decide on one of them.

[2015-06-01 21:42] dirk-thomas commented on #48
We decided to pick the following (first part of option 2):

* camel case for the message files since they define a data structure
* lower case / underscore for the generated C++ headers to follow the code style
* `<msg_name>.hpp` includes `<msg_name>__struct.hpp` and in the future also `<msg_name>__<suffix>.hpp` where suffix could be anything without additional dependencies
* `<msg_name>_<fancy>.h

[2015-06-02 19:54] dirk-thomas commented on #48
I have added a commit to all PRs which implement the new naming of the generated message files. For C++ I would think this ticket is complete but I haven't touched C yet.

Current the C files are named:
* `MsgName-c.h`
* `MsgName_Struct-c.h`

We should clearly apply the same naming rules: lowercase / underscore, suffix `__struct`.

My question would be about the `-c` suffix. Should we just drop it

[2015-06-02 20:10] dirk-thomas opened #53 "eliminate warnings"
Things left todo:

- [x] Fix the remaining warnings (currently 3) on OS X: http://54.183.26.131:8080/job/ros2_batch_ci_osx/156/warnings7Result/
- [x] Audit and fix warnings for Windows (currently 1380 warnings)
- [x] Use a narrower warning suppression with rmw_opensplice and rmw_connext: https://github.com/ros2/rmw_connext/pull/40#issuecomment-108120545

[2015-06-02 21:39] dirk-thomas commented on #48
I updated the message generation for C accordingly (dropping the `-c` suffix).

CI jobs look good (http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_linux/135/ http://54.183.26.131:8080/view/ros2/job/ros2_batch_ci_osx/148/).

@esteve @tfoote @wjwwood Any final comments on the updated PRs before (squashing and) merging?

[2015-06-02 21:44] esteve commented on #48
Dropping the `-c` and relying on the extension sounds good to me, though I agree it may be confusing. Should we look into putting the C and C++ generated files into separate directories?

[2015-06-02 22:01] dirk-thomas commented on #48
A language specific part in the folder name doesn't sound appealing to me. Do you have any specific suggestions?

[2015-06-02 23:03] wjwwood commented on #48
+1 on the pull requests.

[2015-06-02 23:03] dirk-thomas commented on #48
We talked about it and will keep it as it is for now. If it turns out to be an issue we can move the C code into a differently named folder.

[2015-06-02 23:04] tfoote commented on #48
I think that making sure to have good documentation of the extensions and relying on them would be best for now. It is guarenteed to be unique, and we want to have the most native experience which means that you don't self reference your language.

[2015-06-02 23:10] #48 closed

[2015-06-11 23:16] wjwwood commented on #46
@esteve ping

[2015-06-11 23:44] wjwwood opened #54 "[demo] Camera images via lossy wifi"
Goals:

- [ ] Demonstrate better comms over lossy wifi with large message, e.g. Camera Images
- [ ] Provide a method to try out different QoS settings (similar DDS's shapes demo)

Risks:

- How to emulate bad network?
 - Maybe use `tc`?

[2015-06-11 23:47] wjwwood opened #55 "[demo] Image Processing Pipeline"
The purpose of this demo is to demonstrate how ROS 2 can be used to write efficient multi node processing pipelines without sacrificing reusability, rapid development, or introspection. The idea is to setup an image processing pipeline that consists of several nodes which are publishing and subscribing to large messages (for example rgb or yuv images at a resolution >= 1280x1024) at high rates (fo

[2015-06-11 23:49] wjwwood opened #56 "[demo] Visualization of Data with ROS 1 tools"

[2015-06-11 23:52] wjwwood opened #57 "[demo] ROS 2 baremetal embedded"
The purpose of the demo is to show ROS 2.0 being used to communicate to/from a mainstream "modern" microcontroller.

Goals:

- [x] Pub data from MC (e.g., a sensor of some sort)
- [x] Sub to teleop from PC to MC (e.g., make a LED blink or a servo move)

Demonstration setup:

- [x] setup 1: a STM32 running bare-metal
- [ ] setup 2: a STM32 running NuttX or some other RTOS

Required capabilities

-

[2015-06-11 23:54] wjwwood opened #58 "[demo] Real-time node"
The purpose of this demo is to show that ROS 2.0 can be used in a real-time system. It will demonstrate setting up two nodes which can be run separately, but if launched locally can have realtime behavior. This will include demonstrations of non-blocking interactions with non real-time threads.

Goals:

- [ ] Node using real-time process to run a PID control loop
- [ ] Demonstrate using life cycle

[2015-06-15 18:31] esteve commented on #54
Add QoS options to publisher/subscriber APIs

[2015-06-15 21:34] wjwwood commented on #55
@dirk-thomas @jacquelinekay @tfoote @esteve Can you guys look over this updated description and mention anything you think is missing or unclear?

[2015-06-15 21:36] jacquelinekay commented on #55
Can you concretely the magnitude of "large messages" and "high rates" in the first paragraph of the description?

[2015-06-15 21:43] jacquelinekay commented on #55
Other considerations, I don't know how specific you want to get:

Provide a concrete metric for when each feature will be considered done for the demo. For example, the goal for type masquerading could be "show efficient transport of an OpenCV image masquerading as a generic Image type in both intra and inter-process communication".

Give a dependency graph for this set of features (unless you thi

[2015-06-15 21:54] dirk-thomas commented on #55
Looks detailed and complete to me.

[2015-06-15 21:58] wjwwood commented on #55
That's a good idea, I'll come up with something that is typical, e.g. 30 Hz and 1280x1024 pixel RGB images.

I can try to go into more detail about the acceptance criteria, but I wasn't sure exactly what type I would use, so I left details like using OpenCV's Mat object or something like that out of the description. The point about type masquerading working in both intra and inter process comms is

[2015-06-15 22:17] wjwwood opened #59 "Prototype Pub/Sub Intra-Process Comms"
The current thinking is that this should be done by using DDS topics which ferry pointers to the published message which the subscriber can access directly without serialization and deserialization. This mechanism is thought to be the best solution because it will allow us to mimic the interprocess DDS topic's QoS more easily. However, it still needs more investigation to show that it is sufficien

[2015-06-15 22:33] wjwwood opened #60 "Port class_loader or alternative into ROS 2"
In order to implement the Node Components pattern, we need to be able to load shared libraries and instantiate classes from within those shared libraries. This is handled by `class_loader` in ROS 1, so we need to migrate it or do something similar for ROS 2.

AC:

- [x] Add package that provides the needed machinery to "register" classes into and "load" classes out of a shared library.

[2015-06-15 22:42] wjwwood commented on #53
There are no warnings on Linux atm, and only 3 on OS X, for which it is not clear how I should fix it just yet. Windows still has a lot of warnings, but I just got it rebuilding and tracking the warnings.

I propose we merge the current pull requests as is and push this issue back to the backlog in favor of other tasks. At least now we've eliminated the most crucial warnings and now we're tracking

[2015-06-15 22:53] dirk-thomas commented on #53
The lastest state of some of the pending PRs is still that they should be evaluated on Windows. Can you add links to CI builds for them to quantify their usefulness?

[2015-06-15 22:57] dirk-thomas commented on #59
It should be made sure that at the end this is introspectable from the outside and not hidden like e.g. nodelets in ROS 1.

[2015-06-15 23:00] wjwwood commented on #53
Well they build on Windows, which was the concern, so that's not a problem. I haven't audited Windows for warnings. Here are the latest CI jobs:

- Linux: http://54.183.26.131:8080/job/ros2_batch_ci_linux/145/ (0 warnings)
- OS X: http://54.183.26.131:8080/job/ros2_batch_ci_osx/156/ (3 warnings)
- Windows: http://54.183.26.131:8080/job/ros2_batch_ci_windows/286/ (?)

The windows job didn't have th

[2015-06-15 23:11] wjwwood commented on #59
Well that should be avoided by there always being parity on the internal and external topics. I don't imagine a situation where it wouldn't make sense to subscribe to one of the proposed internal topics from another process. I guess you might do that for some kind of diagnostic, but the contents of the message would not be useful to another process.

Either way it's worth explicitly mentioning I g

[2015-06-15 23:12] dirk-thomas commented on #56
The purpose of this demo is to demonstrate the bidirectional exchange of information between a ROS 1 and ROS 2 system.
It is the foundation to gradually migrate existing applications from ROS 1 to ROS 2.
It will also enable us to use ROS 1 tools until similar tools become available in ROS 2, e.g. `rosbag`, `rqt`.

Use case in the demo:

* visualize data coming from a ROS 2 componenent with ROS 1 `

[2015-06-15 23:17] wjwwood commented on #53
Actually it looks like the Windows build is now broken? Maybe this is related to the recent changes with the PYTHONPATH and PATH?

http://54.183.26.131:8080/job/ros2_batch_ci_windows/286/console
[code]

[2015-06-15 23:31] dirk-thomas commented on #53
It looks like Windows is choking on the arguments defining the environment hooks (which are now two separated by a semicolon instead of one). I committed the following change which should help: ament/ament_tools@1fe24740292581a9f8f40c1bddb8aad00955b919

[2015-06-15 23:33] wjwwood commented on #59
After talking with @dirk-thomas about it, he means that the graph API should indicate which node/topic end points (publishers and subscribers) are using the intra-process comms and which are using interprocess comms. I agree that this information should be accessible, but how we expose it depends on the as yet undefined graph API.

[2015-06-15 23:33] wjwwood commented on #53
Ok, I'll rerun it.

[2015-06-16 01:05] wjwwood commented on #34
Linux and Windows now have the same number of tests (530):

- http://54.183.26.131:8080/job/ros2_batch_ci_windows/288/testReport/
- http://54.183.26.131:8080/job/ros2_batch_ci_linux/145/testReport/

There are some skipped tests and failing tests on Windows, but we have the same number at least. I scan over the tests and it appears that all of the failing tests on Windows are present on Linux and t

[2015-06-16 01:05] #34 closed

[2015-06-16 01:51] dirk-thomas commented on #53
+1 to merge the referenced PRs since they do improve the current state.

[2015-06-16 18:05] #46 closed

[2015-06-16 18:06] wjwwood commented on #53
bump @esteve @tfoote @jacquelinekay for +1/-1

[2015-06-16 19:50] tfoote commented on #53
+1 merge and rereview the state afterwards.

[2015-06-16 19:55] #28 closed

[2015-06-16 20:02] esteve commented on #53
+1 merge

[2015-06-16 20:04] wjwwood commented on #53
Thanks, I'll go ahead and merge the PR's and then move this issue back to the backlog for now.

[2015-06-16 20:07] wjwwood commented on #53
Ok, I've done that and update the description of this issue to capture what's left todo.

[2015-06-16 21:05] wjwwood opened #61 "Setup RT Linux Machine and Example RT program"
AC:

- [x] Setup PC with RTLinux patch.
- [x] Documentation for setting up a PC with RTLinux, verifying that it is running
- [x] Try out methods of testing an application for real-time safety. Experiment with adding load to the system, sending bigger messages, etc.
- [x] Complete minimal real-time safety testing library and put it up for review

[2015-06-16 21:06] wjwwood opened #62 "Determine if DDS can do pub/sub within a process in real time"
Both research and test it.

osrf/ros_dds#26
osrf/ros_dds#27
osrf/ros_dds#28

[2015-06-16 21:07] wjwwood commented on #62
Both research and test it.

[2015-06-16 21:30] wjwwood opened #63 "Create common_interfaces for ROS 2"
Create scripts or any tools that are necessary.

[2015-06-16 21:32] wjwwood opened #64 "Implement ROS 2 Graph API"

[2015-06-16 21:33] wjwwood opened #65 "Create a simple ROS 1/2 bridge"
Just a single type and topic to demonstrate feasibility.

[2015-06-16 21:36] wjwwood commented on #54
Multiple streams with different QoS, should stress network.
Multiple OS in the demo.

[2015-06-16 21:37] wjwwood opened #66 "Add additional QoS settings to Pub/Sub API"

[2015-06-17 18:49] dirk-thomas commented on #65
I have created a new repository for the ROS 1 bridge: https://github.com/ros2/ros1_bridge

The current prototype provides unidirectional communication of a single specific topic between the ROS versions. The repo contains a README with instructions how to build this "dual-homed" package and how to run the bridge as well as the talker and listener endpoints.

[2015-06-17 23:47] esteve commented on #66
We can provide a limited set of options (reliable vs best effort) via the API, but allow the users to set more complex QoS policies via an external file.

[2015-06-18 01:37] wjwwood commented on #65
This is in the review column, are we supposed to be reviewing this for completion? +1 if that's the case.

[2015-06-18 04:47] #63 closed

[2015-06-18 22:31] jacquelinekay commented on #58
do we need to implement an "rcl_realtime" library for this demo, or patch `rclcpp` to be realtime-safe, or implement `rclc` to be realtime-safe?

similar question for `rmw`

[2015-06-18 22:48] wjwwood commented on #58
Ideally we'd have one library this is capable of both, with either no changes or only configuration changes to achieve real-time. However, if that's not possible then we'll have to consider what our options are. If we have to provide an entirely separate library for real-time, then it's hard to say how that's better than just having good integration with something like OROCOS.

[2015-06-18 22:57] jacquelinekay commented on #58
Cool. From what I've learned today, I think it's reasonable to have one library which can be configured for realtime-safe behavior. [This example for RT Preempt](https://rt.wiki.kernel.org/index.php/Threaded_RT-application_with_memory_locking_and_stack_handling_example) shows how to preallocate the stack and lock the memory for a process so that starting new threads and dynamic memory allocation w

[2015-06-19 00:44] #65 closed

[2015-06-22 16:57] jacquelinekay commented on #61
I'm taking this over because it's a prereq for my card (#62).

[2015-06-22 22:38] wjwwood opened #67 "Setup ROS 2 Specific Jenkins Master"
Really, the only thing that has to be done is to update Jenkins to the latest version because that fixes the issue with the VS 2015 license not updating on Windows. It would just be easier to do so if it were not tied to the experimental ROS 1 build farm.

@tfoote and I discussed simply getting one EC2 machine that's both the Jenkins Master as well as the ROS 2 Linux build slave. The Windows and O

[2015-06-22 23:19] tfoote commented on #67
Yeah, I think separating them makes sense. Until we setup the rosdistro based building we don't need the fully provisioning.

[2015-06-23 20:25] dirk-thomas commented on #56
* [x] create a unidirectional bridge with a single hard coded topic / type: ros2/ros2#65
* [ ] create a bidirectional bridge with a single hard coded topic / type: ros2/ros1_bridge#1
* [ ] support arbitrary message types available at compile time of the bridge
* [ ] establish bridging based on available topics at runtime

[2015-06-23 20:27] jacquelinekay opened #68 "Refactor for real-time code safety"
Current status:

- [x] Find an alternative to `malloc` and `free` calls in `Executor::wait_for_work`: `MemoryStrategy` https://github.com/ros2/rclcpp/pull/56
- [x] add message introspection functions to check if message has fixed size: https://github.com/ros2/rosidl/pull/33
- [ ] add message introspection functions to check if message has *bounded* size (backlog, optional?): https://github.com/ros

[2015-06-23 20:47] jacquelinekay commented on #61
The machine is set up (thanks to the stable RT Preempt kernel maintained by IHMC). What are the requirements for an example RT program? [This example](https://rt.wiki.kernel.org/index.php/Squarewave-example) from the RTLinux wiki has some nice stuff going on (continuous real time loop) but its output has to be measured with an oscilloscope, which is not great

[2015-06-23 21:10] tfoote commented on #62
We want to know if we can build realtime safe ROS intraprocess communications on top of DDS message passing. (It may depend on DDS implementation)

[2015-06-23 21:26] jacquelinekay commented on #68
To be revisited after William submits in review work to refactor `rmw_connext` and `rmw_opensplice`

[2015-06-23 21:45] tfoote commented on #67
A machine for this has been stood up at: 52.8.225.206

[2015-06-23 22:42] wjwwood commented on #67
Ok, I can reach it. Thanks.

[2015-06-23 23:56] jacquelinekay commented on #68
bash script to reproduce the markdown table:

https://gist.github.com/jacquelinekay/292d010fbdfe67254ad7

Not sure which repo this belongs in.

[2015-06-25 00:59] wjwwood commented on #67
Ok, the new farm is up and running:

http://ci.ros2.org/

Let me know about any issues you run into.

[2015-06-25 00:59] #67 closed

[2015-06-25 01:02] wjwwood opened #69 "Fix tear down issues"
Through out the rmw implementations there are missing destroy functions and plenty of places in rclcpp where they are not being used as a result.

This has been causing issues for me when testing out my prototype for the intra-process comms. So I've been working on fixing it. I'll open some pull requests soon and attach them to this issue.

[2015-06-29 14:06] BobDean commented on #54
what resolution images and at what Hz are you targeting? My default question for people is "How will you handle a 25MPixel stereo pair"?

This NIST link may help track down a network simujlator: http://www-x.antd.nist.gov/nistnet/

[2015-06-29 17:52] wjwwood commented on #54
We were going to start with something more reasonable, like 1280x1024 at 30 hz. I don't think it's realistic to do 25Mp stereo pair over crowded wifi, but we can work up to it in our testing. The 25Mp pair might be a valid test for the intraprocess image pipeline, but that really depends on the computer you're running it on.

NIST net looks like an interesting lead on network simulation. Thanks @B

[2015-06-30 06:39] wjwwood commented on #69
I've finished my preliminary pull requests (which are connected to this one) but I still need to run the style tool over them and run the tests. However, they are big change sets and the general ideas are done. Please start to have a look at them as soon as possible. I'll try to get the style checks out of the way tonight to comments on those.

[2015-06-30 07:01] wjwwood commented on #69
I fixed any outstanding style issues according to `ament_uncrustify`. I'll run the tests in the morning and the examples too. Those will likely produce some new errors, caught and uncaught, which are a result of these changes.

[2015-06-30 08:43] adolfo-rt commented on #68
These results report usage of non real-time safe calls, anywhere. What really matters is if (and how) they are used in the real-time code path. For instance, if a `std::vector` is pre-allocated in the non-rt path, and used without resizing in the rt path, then nothing's wrong.

[2015-06-30 17:29] jacquelinekay commented on #69
Can we add some tests to explicitly check proper teardown in these libraries, and/or a regression test that reproduces the blocking in teardown issue you mentioned in [#51](https://github.com/ros2/rclcpp/pull/51)?

[2015-06-30 17:32] wjwwood commented on #69
I think the current tests will test most of the code paths I've changed here. But I can look at adding a test that reproduces the segfault's I was getting with my prototype.

[2015-06-30 19:55] wjwwood commented on #69
Linux is now building, but has test failures (I'm still looking into those locally):

http://ci.ros2.org/job/ros2_batch_ci_linux/14/

OS X is the same:

http://ci.ros2.org/job/ros2_batch_ci_osx/10/

Windows remains broken, because I haven't had time to look at the current problem.

[2015-07-01 00:16] jacquelinekay commented on #62
- [x] Complete simple intra-process pub/sub over example (https://github.com/osrf/ros_dds/blob/large_message_rt/realtime/dds_intraproc.cpp)
- [ ] complete instrumentation of example and show plots with results verifying real-time performance (or not)

[2015-07-01 03:15] gbiggs commented on #60
Looking over the code for class_loader, I didn't see anything that's ROS-specific (other than the build system). It mainly looks like it needs cleaning up to C++11.

[2015-07-01 19:01] dirk-thomas commented on #60
In ROS 1 `class_loader` contains the ROS agnostic part for loading plugins. `pluginlib` provides the ROS specific logic to *find* plugins within the ROS package infrastructure. I think we need two similar pieces in ROS 2.

[2015-07-01 19:26] wjwwood commented on #60
@dirk-thomas That's a separate task in my outline (no github issue yet). Whereas, this task is just to port something like class loader, which could be used manually to load things until we have a pluginlib equivalent.

@gbiggs The other thing to consider in ROS 2 is how we could do plugins with C (class loader is C++ specific). That's out of scope for this issue, but else we have to think about.

[2015-07-07 21:00] gerkey commented on #61
Working on DDS-only examples to see what can be done with real-time constraints.  So far, OpenSplice is showing many page faults in common usage (at least in the publisher).  Next up is trying Connext, and consider using custom allocator with OpenSplice.

If neither approach can satisfy real-time constraints, then it means that we need to short-circuit the DDS publish calls for intraprocess comms,

[2015-07-07 21:01] gerkey commented on #61
Whenever it's convenient, submit a pull request with your evolving examples for review and feedback.

[2015-07-09 20:42] jacquelinekay commented on #62
test library:
https://github.com/jacquelinekay/rttest/pull/1

examples:
https://github.com/osrf/ros_dds/pull/27
https://github.com/osrf/ros_dds/pull/26
https://github.com/osrf/ros_dds/pull/28

[2015-07-09 22:33] jacquelinekay commented on #68
- [ ] Find an alternative to `malloc` and `free` calls in `Executor::wait_for_work`
- [ ] Pass timeout parameter to `rmw_wait` and expose it to the Executor interface, to avoid up to `
- [ ]

[2015-07-13 18:21] dirk-thomas commented on #44
Addressed by:
* ros2/rosidl#28
* ros2/rosidl_dds#24
* ros2/rmw_connext#49
* ros2/rmw_opensplice#46

[2015-07-13 18:21] #44 closed

[2015-07-14 20:57] wjwwood commented on #59
Ok, I've been doing some prototyping and I've come up with a few approaches, each with pros and cons which I'm still exploring:

#### Reference Counting Only

Create a shared ptr of a copy of the users message and artificially increase the reference count by the number of subscribers. Send the address of this shared pointer to all subscribers with a publish and drop the publishers copy of the shar

[2015-07-14 21:35] gerkey commented on #56
We're currently blocked on how to best get current topic name and type information on the ROS2 side.  For now, hardcoding that information in the bridge works fine.  So the next step will be to create a ROS2 publisher (e.g., image from webcam) and show it in rviz.  The demo gets better later when the bridge doesn't need the hardcoded info.

[2015-07-15 01:06] dirk-thomas commented on #43
The C++ API for messages has been documented in the article http://design.ros2.org/articles/generated_interfaces_cpp.html

I assume that by agreeing to that article everyone agrees to the current API? Is there anything else to do for this ticket?

[2015-07-15 01:26] wjwwood commented on #43
lgtm, I think this can be closed, though I expect the amount of things that are included might increase. Like functions to determine how much space is needed to preallocate and if that's even possible or not, just as an example.

[2015-07-15 01:28] dirk-thomas commented on #43
Sure, I think the best way to go forward is to continuously update the article when the implementation evolves.

[2015-07-15 03:10] wjwwood commented on #69
Ok, I've rebased and run uncrustify over the pr's.

There are still a few failing tests, but they all seem to be related to not being able to register the type in connext_dynamic when a static or dynamic array are involved.

I'll have a look at it tomorrow with @dirk-thomas, but I don't expect any earth shattering changes to come from it.

There are quite a few things that remain to be done, but I

[2015-07-15 07:13] tfoote commented on #59
Assuming we're possibly having unreliable transport, passing the raw pointer addresses seems a little unsafe. We should probably have an object which manages the pointers and we pass UUID through DDS which can then be queried from the object which is holding the pointers. (If the reference has been dropped it will give an error message and the delivery is considered a failure.) If there's a hit on

[2015-07-15 18:24] dirk-thomas commented on #69
See https://github.com/ros2/rmw_connext/pull/45#issuecomment-121690151 for the fix of the rmw_connext_dynamic_cpp PR.

[2015-07-15 20:22] #43 closed

[2015-07-15 20:23] wjwwood commented on #69
Thanks for that fix @dirk-thomas.

I have squashed all the branches and so I've started a new CI job for each OS:

- Linux: http://ci.ros2.org/job/ros2_batch_ci_linux/44/
- OS X: http://ci.ros2.org/job/ros2_batch_ci_osx/21/
- Windows: http://ci.ros2.org/job/ros2_batch_ci_windows/14/ (has known other failure)

Hopefully this will reflect that OS X now passes all tests as is the case on local machin

[2015-07-15 20:52] wjwwood commented on #69
The OS X job failed all of the RTI tests, but I applied the fix from https://community.rti.com/kb/osx510, as the error suggested, and we'll see if this new job does better:

http://ci.ros2.org/job/ros2_batch_ci_osx/22/

[2015-07-15 21:02] #62 closed

[2015-07-15 21:02] #61 closed

[2015-07-15 21:22] wjwwood commented on #69
The OS X job has passed all tests, I'll merge and close/update other tickets.

[2015-07-15 21:26] dirk-thomas commented on #69
@wjwwood Can you please add the kb reference about OS X to the example wiki page.

[2015-07-15 21:27] wjwwood commented on #69
@dirk-thomas it's on the Jenkins Slave setup wiki page (internal.local). I can add a note about it, but it isn't always necessary, maybe hardware dependent or something because I didn't have to do it on my machine.

[2015-07-16 07:02] gbiggs commented on #60
A structure of callbacks might be the way to go there. Any plugin system must have a well-defined API that the plugin provides, so asking for a plugin writer to provide a structure of callbacks is not too much to ask, I think.

[2015-07-16 15:36] dirk-thomas commented on #60
It does not have to be a structure of callbacks. ROS 1 class_loader already supports loading libraries with an arbitrary but known API which is defined by the type used for the plugin registration / lookup.

[2015-07-16 23:43] #69 closed

[2015-07-17 00:14] wjwwood commented on #60
@dirk-thomas I think he's referring to C, where, AFAIK, `class_loader`'s techniques will not work since it relies on class constructors/destructors and anonymous namespaces.

[2015-07-17 00:17] wjwwood commented on #60
Though I'm not sure the structure of callbacks really addresses the anonymous registration issue. At any rate, `class_loader` expects a class with methods as the plugin interface, and a struct of callbacks is the closest thing to that in C. Still, maybe that's best left to think about until we need a C plugin loading system.

[2015-07-18 17:30] dirk-thomas opened #70 "switch to Connext 5.2"
* [x] depends on the source being available to us
* [x] create new Debian package
* [ ] create VS 2015 package to fix runtime problem of prebuilt packages: ros2/ros2#51
  * [x] some of the tests already pass with Connext 5.2 Pro (which is built with VS 2013), hopefully the custom built will make all pass...
* [x] ~~either build from source for OS X or~~ test prebuilt binary packages on OS X
* [x]

[2015-07-18 18:14] dirk-thomas commented on #56
Please see the update on the current state of the demo in the update previous comment.

[2015-07-20 19:59] dirk-thomas commented on #56
I have created a few more PRs which makes the demo "work" in all cases. The only drawback currently is that when exchanging images between Connext and OpenSplice the performance is really bad. Only some images arrive at all and they also have a long delay...

[2015-07-20 23:34] dirk-thomas opened #71 "raise warning level"
I have create a `raise_warning_level` branch on various repositories to raise the warning level. For now it includes: `-Wall -Wextra` Please check the changes in those branches. I would like to avoid creating separate PRs for all of those.
* https://github.com/ros2/common_interfaces/tree/raise_warning_level
* https://github.com/ros2/examples/tree/raise_warning_level
* https://github.com/ros2/rcl_i

[2015-07-21 00:26] wjwwood commented on #71
Ok, lgtm.

I'm not sure I would have added `-Wextra`, since the most prominent changes throughout are about the unused parameters which are imo false positives since it is supposed to be detecting unintentionally unused parameters, but in all of these cases the parameters are intentionally unused because they're generated code or part of an interface. Since the compiler cannot know our intention I

[2015-07-21 00:35] dirk-thomas commented on #71
I disagree with your opinion that the *unused parameter* check is not helpful. A very good example is actually in one of the patches (https://github.com/ros2/rmw_connext/commit/81ffa776045deb9ab2248c7ea1c71c52d7d14343#diff-becdf01440f1757df19f4775b534e066R820) where I actually fixed a significant bug in the code which I only discovered because of the new warning.

I will update the commits to keep

[2015-07-21 00:37] wjwwood commented on #71
Ok, that's a good point, we can leave the `-Wextra`.

[2015-07-21 00:39] wjwwood commented on #71
AFAICT, ros2/rmw_connext@81ffa77#diff-becdf01440f1757df19f4775b534e066R820 is not an unused parameter warning. Maybe I should more specifically say, `-Wextra` is probably fine, but maybe it should be accompanied by `-Wno-unused-parameter` or whatever the disabling flag is.

[2015-07-21 00:53] dirk-thomas commented on #71
The warning was in fact an unused variable since the variable allocated above was never used but instead a new allocation was done.

[2015-07-21 00:54] dirk-thomas commented on #71
Anyway I created the 10 PRs. @ all: Please review them.

[2015-07-21 00:54] wjwwood commented on #71
So, there is no warning level distinction between an unused variable and an unused parameter? I'm pretty sure clang distinguishes between the two, but I'd have to double check.

Whatever, `-Wextra` is fine.

[2015-07-21 01:01] wjwwood commented on #71
+1 to all of them.

[2015-07-21 01:46] wjwwood opened #72 "Update to the official VS 2015 release"
It has been officially released:

http://blogs.msdn.com/b/somasegar/archive/2015/07/20/visual-studio-2015-and-net-4-6-available-for-download.aspx

We need to upgrade to it on the Windows CI slave and test it out.

[2015-07-21 05:56] wjwwood commented on #59
Here is a summary of our discussion of this issue in our last meeting:

One issue that came up about both the reference counting approach and ack counting approach was: what do you do if DDS drops either the original message or in the case of the ack counting the ack message? Ignoring it would result in a memory leak, but there appears to be no way of getting notified when a sample is lost.

A sug

[2015-07-21 16:54] #71 closed

[2015-07-24 17:44] dirk-thomas commented on #26
It is currently failing again since we now have more than two message packages which depend on each other. The problem is that the generated code for Connext as well as OpenSplice does not set dllexport attribute correctly.

[2015-07-24 20:21] dirk-thomas commented on #26
With the newly referenced PRs the CI job finishes linking: http://ci.ros2.org/job/ros2_batch_ci_windows/45/

[2015-07-24 21:05] esteve commented on #70
Preliminary Debian packaging in:

https://github.com/rticommunity/rticonnextdds-src/pull/8

Debian packages in:

https://github.com/osrf/rticonnextdds-src/tree/binaries/ubuntu/trusty/amd64/5.2.0-0

[2015-07-24 22:59] #26 closed

[2015-07-24 23:55] jacquelinekay opened #73 "Pass timeout duration to rmw_wait"
Ready for review.

ros2/rclcpp/pull/66
ros2/rmw/pull/25
ros2/rmw_opensplice/pull/55
ros2/rmw_connext/pull/60

[2015-07-27 23:02] dirk-thomas commented on #53
Recent PRs on this topic:
* ros2/rmw#24
* ros2/rmw_connext#61
* ros2/rmw_opensplice#56

This gets us to no warnings on Linux and OS X (again).
The remaining Windows warnings are:
* either type conversion warnings
* or usage of deprecated functions (due to no upper limit for string processing)

[2015-07-27 23:47] jacquelinekay commented on #73
First CI:
http://ci.ros2.org/job/ros2_batch_ci_linux/93/
http://ci.ros2.org/job/ros2_batch_ci_osx/35/
http://ci.ros2.org/job/ros2_batch_ci_windows/62/

I will have to run the jobs again because these were launched before I actually added the test as a nosetest in CMakeLists.

[2015-07-28 00:43] dirk-thomas opened #74 "Prevent triggering debugger on Windows slave"
So far we have tried a few things without success: http://stackoverflow.com/questions/396369/how-do-i-disable-the-debug-close-application-dialog-on-windows-vista/554596

[2015-07-28 06:42] gbiggs commented on #60
I don't think it would be too much of a burden on developers of C plugins to require that they provide a known function that can be called by the plugin loader. We use "pluginname_initialise".

[2015-07-28 16:59] dirk-thomas commented on #70
PR to update the Docker image: ros2/ros2#75

[2015-07-28 17:17] esteve commented on #70
Final Debian packaging already merged into upstream RTI repo:

https://github.com/rticommunity/rticonnextdds-src/commit/13830c921718cdbef801179d14ba8b53cc83a18a

Debian packages in:

https://github.com/osrf/rticonnextdds-src/tree/binaries/ubuntu/trusty/amd64/5.2.0-1

CI scripts:

https://github.com/ros2/ros2/pull/75

[2015-07-28 21:06] tfoote opened #76 "Document how to write and run gtests"

[2015-07-28 21:07] tfoote commented on #76
The capability is there, but there's no examples or documentation of how to use them.

Test this via ros2/system_tests#14

[2015-07-28 21:23] dirk-thomas commented on #56
As a back channel I will add a simple toggle topic to enable / disable a specific OpenCV function applied on the image sender side.

[2015-07-29 01:08] jacquelinekay commented on #73
New CI:

New test fails on OSX:
http://ci.ros2.org/job/ros2_batch_ci_osx/36/

Linux passes:
http://ci.ros2.org/job/ros2_batch_ci_linux/94/

Windows builds and many tests fail (consistent with master):
http://ci.ros2.org/job/ros2_batch_ci_windows/67/

I've moved this back to "In progress" while I debug the OSX timeout issue.

[2015-07-29 19:39] jacquelinekay commented on #73
new OSX job passes after I increased the tolerance by 5 ms:

http://ci.ros2.org/job/ros2_batch_ci_osx/48/

The tolerance is now 15 ms, for a timeout of 100 ms.

[2015-07-29 19:41] dirk-thomas commented on #73
Please rebase your PRs to the latest master and run the jobs again to ensure that there are no regressions.

[2015-07-29 19:55] jacquelinekay commented on #73
I rebased and started CI. But as you know, the Linux job is currently disabled, so that will have to wait.

http://ci.ros2.org/job/ros2_batch_ci_osx/50/
http://ci.ros2.org/job/ros2_batch_ci_windows/

[2015-07-29 20:15] dirk-thomas commented on #73
Here is the Linux job:

http://ci.ros2.org/job/ros2_batch_ci_linux/109/

[2015-07-30 00:14] dirk-thomas commented on #73
The referenced jobs indicate new warnings related to these PRs. Can you please fix them and post new job links?

[2015-07-30 02:01] dirk-thomas commented on #53
All warnings have been resolved except:

* usage of `strerror`
* usage of `strcpy`
* usage of `_snprintf`

[2015-07-30 16:20] dirk-thomas commented on #56
I added a topic as a backchannel from rqt to the ROS 2 cam2image node: ros2/demos#2

[2015-07-30 21:37] dirk-thomas commented on #66
I am unsure if the PRs are ready to be reviewed. Should all the referenced PRs have the label "in review" or should this ticket have the label "in progress"?

[2015-07-30 21:56] esteve commented on #66
I'm going to put all the PRs in review, so that I can move forward. Since the changes I made affect the API, every time there's a conflicting change I spend too much time rebasing. I'll add the review tag to all the PRs to mark them as ready. Thanks for noticing!

[2015-07-30 22:18] dirk-thomas opened #78 "should the CI jobs automatically rebase to master"
Currently the CI job tests the code from the specified branches. If they are not up-to-date but branches earlier and master has diverged that is not covered by the test. The result is that the CI job might succeed but after merging the branch the CI job might fail on master.

Would it be sufficient to always do this after switching to the to-be-tested branches:

    vcs custom --git --args rebase

[2015-07-31 14:53] jacquelinekay commented on #73
The  newwarnings appear to be due to implicit type conversion. Launched new CI with the fix (I couldn't test it locally because it's on Windows):
http://ci.ros2.org/job/ros2_batch_ci_linux/118/
http://ci.ros2.org/job/ros2_batch_ci_osx/60/
http://ci.ros2.org/job/ros2_batch_ci_windows/87/

[2015-07-31 14:55] jacquelinekay commented on #73
Some of the warnings are due to MSBuild giving warnings about implicit type conversions from unsigned int to signed int, so I couldn't test them locally.

New CI:
http://ci.ros2.org/job/ros2_batch_ci_linux/118/
http://ci.ros2.org/job/ros2_batch_ci_osx/60/
http://ci.ros2.org/job/ros2_batch_ci_windows/87/

[2015-07-31 15:07] jacquelinekay commented on #78
+1 to this idea, with a few questions about a few details:

1. How should the CI job continue if there are merge conflicts in the rebase? I think it should abort the rebase and continuing testing the branch with a warning to the user.
2. Should the CI job `push --force` the rebase if the rebase has no conflicts? Should it wait to push the rebase until after the CI job succeeds?? I think it should

[2015-07-31 15:59] esteve commented on #78
Sounds good. In the case where a conflict happens, I think it's useful to still run the CI job, but warn the user, though ultimately GitHub will complain the branch not being mergeable.

I have mixed feelings about `push --force` the rebase, while it's useful, I rather not overwrite anyone's branches.

[2015-07-31 16:18] dirk-thomas commented on #78
+0.5 to build anyway if rebasing fails and place a warning somehow.
+1 for *not* pushing to the repositories (ever).

[2015-07-31 16:27] dirk-thomas commented on #73
The warnings referenced in the last two links could be the case if your branch is not based on a current master.

[2015-07-31 17:23] tfoote commented on #78
I agree we shouldn't let the CI push to the repos.

For falling back to a build without a rebase, i'd suggest that be an optional parameter. By default a pass should be that it merged with master and passed unit tests.

There are cases when you will want to test a diverged branch on the farm, but in that case you should know they've divered and tell it, don't merge/rebase.

[2015-07-31 18:27] jacquelinekay commented on #73
yep, had to rebase rmw_connext and system_tests... here we go again:

http://ci.ros2.org/job/ros2_batch_ci_windows/91/

[2015-07-31 18:34] ruffsl opened #79 "Are ROS2 nodes hot swappable?"
# Issue
I've been messing about with the ROS2 talker and listener demos and have encountered a behavior leading me to ask if ROS2 nodes are hot swappable? What I've done so far is create two networks, and two pairs of containers running talker and listener demo, one pair attached to each network. I then witness the auto discovery has successfully connected the pairs of nodes, i.e. the listers are

[2015-07-31 21:31] dirk-thomas commented on #79
I don't this is related to any ROS specific part but solely depends on the DDS vendor behavior. I would suggest looking into the network detail, e.g. if network interfaces are replaces by Docker and if DDS is aware of that.

[2015-08-02 21:23] wjwwood commented on #78
+1 to merge before build
+0 to build if merge fails (travis doesn't do this; I don't think we need to either)

[2015-08-03 01:37] j-rivero commented on #51
Where I can find the RTI libraries and the documentation to compile them, if any?

[2015-08-03 01:38] j-rivero commented on #74
Do we have an easy way of manually triggering the problem?

[2015-08-03 02:08] dirk-thomas commented on #51
The RTI Connext code is in a private repo on GitHub:
https://github.com/osrf/rticonnextdds-src
That's all we have.

- Dirk

On Sun, Aug 2, 2015 at 6:37 PM, Jose Luis Rivero <notifications@github.com>
wrote:

[2015-08-03 02:10] dirk-thomas commented on #74
Every job (http://ci.ros2.org/job/ros2_batch_ci_windows/) will trigger the Debugger when the test fail at the end.

[2015-08-03 17:15] esteve commented on #51
@j-rivero I'll forward you the documentation that RTI sent us with the instructions to compile the repo for Windows, Mac OSX and Linux.

[2015-08-04 20:53] dirk-thomas commented on #66
Add the proposed policies to the design document: ros2/design#36

[2015-08-04 21:05] dirk-thomas commented on #76
Optionally a wiki page can provide entry points for various aspects (and e.g. reference the markdown file in the package folder).

[2015-08-04 21:58] dirk-thomas commented on #73
This needs another round of CI jobs after rebasing since some tests failed.

[2015-08-04 22:08] dirk-thomas commented on #66
Can you please run the CI jobs and link them here? The last referenced job in one of the PRs had regressions.

[2015-08-05 01:33] j-rivero commented on #74
In my first exploration into the windows CI machine, I found that the firewall window was in foreground and asking for permission to run some tests. That could make test to fail. For the gazebo testing machine I've disable the firewall completely to be able to run tests that require some connection with the network. I assume that I can do the same for ROS machine, right?

Just to confirm, your rea

[2015-08-05 01:35] dirk-thomas commented on #74
Yes, you can disable the firewall.

Yes, the real problem is that the debugger triggers and therefore every failing test is waiting until the timeout.

[2015-08-05 01:40] j-rivero commented on #51
I assume that you are currently using a VS2013 compiled binaries distributed somehow. It would be nice to have them to mimic the directory structure and be sure that our content is the same than before. If so, where I can find the installer/zip or any other thing that show me how are you currently using it?

[2015-08-05 01:41] dirk-thomas commented on #51
Please look on the Windows slave where the current version of Connext 5.1 is installed.

[2015-08-05 02:03] j-rivero commented on #72
It should not be difficult. I was about to do it, but found a really minimal installation or configuration of Windows when connected through VPN to eatable. I can not see or touch more than the Jenkins Window. How can I interact with that? Is it possible to set it back to the standard Windows desktop?

[2015-08-05 02:15] wjwwood commented on #72
It's been like that for a while, I just restarted the machine, maybe that will fix the desktop.

[2015-08-05 02:16] j-rivero commented on #72
That made the trick, thanks William.

[2015-08-05 02:50] j-rivero commented on #72
One minor issue before installing. You are currently passing `amd64` as argument to vcvarsall.bat, which configures the 64 bit native compiler to generate 64 bit code. That is ideal, but for some reason, the free Express editions of VS don't support it. However, these Express versions support the `x86_amd64` code, which runs the 32 bit compiler to generate 64 bit code.

In our case, we can go with

[2015-08-05 16:01] dirk-thomas commented on #72
I have create a branch for the CI scripts: https://github.com/ros2/ros2/tree/x86_amd64 which uses what you suggest (https://github.com/ros2/ros2/commit/3a0e537d575a042308fe99b3903c084fe70fc385)

You can try this by passing `x86_amd64` to the `CI_SCRIPTS_BRANCH` parameter of the job.

[2015-08-05 16:08] j-rivero commented on #72
Nice, let's try installing the Express version then.

[2015-08-05 16:55] #73 closed

[2015-08-05 16:57] j-rivero commented on #72
The update should be ready, to 2015 Express version. The system needed a reboot, a press the button but I can not contact with the machine again. Maybe is running Boot Camp and need to restart it on Windows? Hopefully it is not broken.

[2015-08-05 17:46] j-rivero commented on #72
The [testing run](http://ci.ros2.org/job/ros2_batch_ci_windows/107/console) since it can not find the devenv.exe utility. Our fork of [uncrustify](https://github.com/ament/uncrustify/blame/master/CMakeLists.txt) is calling it to [upgrade](https://msdn.microsoft.com/en-us/library/w15a82ay.aspx) .sln files.

I've verified that it is not present in the Express edition, and some people is using 'an eq

[2015-08-05 18:41] wjwwood commented on #72
It's strange that they removed `devenv` in the express edition. It's in the RC of VS2015, so I'd expect it to at least be in 2015 professional.

It would be nice to work with the express edition I guess, but if we need to we can step up to professional.

[2015-08-05 19:28] esteve commented on #72
Microsoft now recommends using MSBuild (which is included in VS 2015 Express) instead of Devenv:

https://msdn.microsoft.com/en-us/library/xee0c8y7.aspx

but I don't know if MSBuild can upgrade .sln files.

[2015-08-05 20:02] wjwwood commented on #72
We use `msbuild` for everything but the upgrade. It looks like it doesn't have the upgrade option though.

[2015-08-05 20:45] esteve commented on #66
Linux CI job:

http://ci.ros2.org/job/ros2_batch_ci_linux/156/

Mac OSX job:

http://ci.ros2.org/job/ros2_batch_ci_osx/84/

The Windows slave is pending because of the VS2015 upgrade.

[2015-08-06 00:05] j-rivero commented on #72
After searching and playing for a bit, some conclusions:
 *  VCUpgrade.exe does not play with .sln files, so we can not upgrade it. I did not find any command line tool to do it.
 * The files [can easily be upgraded manually]( https://github.com/ament/uncrustify/commit/d0049a9ece6e2fb18f06438b2290c13d1b2d1725) (and cross your fingers).

Not sure what we want to do here. The fastest solution would

[2015-08-06 00:08] wjwwood commented on #72
https://github.com/ament/uncrustify/pull/6

[2015-08-06 02:34] j-rivero commented on #72
Ouch. Yes, this approach [works](http://ci.ros2.org/job/ros2_batch_ci_windows/116/consoleFull#console-section-37).

After hacking around to autogenerate the sln file (using cmake MSVC variables and parsing the msbuild version) we still need to figure out how to get the "File format version" corresponding to each version. No go for me.

We could create a couple of .sln/.vcproj files for each MSVC s

[2015-08-06 04:39] dirk-thomas commented on #72
I think a major goal is that the ROS 2 build farm only uses "open" tools. Therefore I would argue the professional payed version of VS is not a good option.

We also don't have to support the more then a single VS version. Everything older then 2015 is not going to successfully build ROS 2 anyway. Therefore I would propose to try committing the converted VS project to the uncrustify repo and go fr

[2015-08-06 04:41] dirk-thomas commented on #72
Also please keep in mind once a new version of uncrustify is released and it becomes available in the Ubuntu release (likely 16.04) we don't even have to bother with our custom fork anymore.

[2015-08-06 16:39] esteve commented on #66
I fixed the syntax style, the linked PR should be ready to merge. I'd rather not wait for the Windows slave to be ready and fix any Windows issues afterwards.

[2015-08-06 16:47] dirk-thomas commented on #66
ros2/demos#4 is currently not mergable.

[2015-08-06 16:48] esteve commented on #66
@dirk-thomas I just fixed it, be a little patient.

[2015-08-07 00:50] esteve commented on #66
Latest CI jobs:

http://ci.ros2.org/job/ros2_batch_ci_linux/163/

http://ci.ros2.org/job/ros2_batch_ci_osx/91/

[2015-08-07 13:11] j-rivero commented on #72
We hit a compilation problem, described in ros2/examples#43.

The plan is to back to the restoration point before changing the VS2015 on Aug 5th, to get back the RC compiler (14.0.22816.0). I was not able to find an installer for it. @wjwwood do you remember how did you get it?

[2015-08-07 15:35] esteve commented on #72
@j-rivero I installed the RC compiler from MSDN, but it doesn't seem to be available anymore. It'd be good to come up with a minimal and reproducible example to report it to MS.

[2015-08-07 15:47] esteve commented on #66
Linux and Mac OSX CI jobs are green, going to merge the linked PRs.

[2015-08-07 15:51] esteve opened #80 "Make qos profile argument optional"
Do not require the user to provide a qos profile every time they create a subscription or publisher

[2015-08-07 15:54] #66 closed

[2015-08-07 17:25] j-rivero commented on #72
Agree, as the way for final solution. I tried it with a [simple version](https://github.com/ros2/examples/issues/43#issuecomment-128771626) but it compiled fine.

My proposal to get back to Aug 5th in the Windows Jenkins node was more to have something working by now, while we find what happen with this bug and the confirmation that RC is compiling the same code just fine.

[2015-08-08 00:19] dirk-thomas commented on #72
Finally I got it working with the Community version of Visual Studio 2015 (final release) and a patch to the generated OpenSplice code: http://ci.ros2.org/job/ros2_batch_ci_windows/133/

[2015-08-08 00:55] dirk-thomas commented on #72
Done. The windows slave is ready to use again.

[2015-08-08 00:55] #72 closed

[2015-08-10 17:20] dirk-thomas commented on #66
The ros1_bridge package (https://github.com/ros2/ros1_bridge) needs the same updates to be continue to compile. I will create a patch for it since I need to compile the package for ros2/ros1_bridge#3.

[2015-08-10 17:42] dirk-thomas commented on #73
The ros1_bridge package (https://github.com/ros2/ros1_bridge) needs the same updates to continue to compile. I will create a patch for it since I need to compile the package for ros2/ros1_bridge#3.

[2015-08-10 18:11] #76 closed

[2015-08-10 18:22] gerkey commented on #56
Demo is basically working (modulo noticing tear-down of topics on the ROS 2 side).  Next up: write documentation for how try the demo (tutorial with screenshots).  Add to the README.

[2015-08-10 18:25] gerkey commented on #54
We now have a test setup working, publishing images from camera to a camera viewer node.

Next up is tweaking QoS settings, and if necessary, messing with network interface behavior via `tc`.

Write a single-host tutorial that shows how to see the effect over localhost.  Might need to disable shared memory transport somehow.

[2015-08-10 18:43] gerkey commented on #57
Plan is to support the rmw API on top of freertps, to allow rclcpp programs to build for the baremetal platforms.  Doing so brings extra work in terms of supplying various OS calls that rclcpp and friends need, but which aren't currently available in our setup.

Whether or not that gets done, write documentation for how to build, deploy, and run the demo.  Will support STM32f[4|7] on the discovery

[2015-08-10 18:57] gerkey opened #82 "Release process"
Plan for initial release:

* Version everything (drop in package.xml files)
* Tag everything.
* Build binary archives on all three platforms (Trusty, OSX Yosemite, and Windows 8)
* Push archives to somewhere for download.
* Entry point is https://github.com/ros2/ros2.  If convenient, put the binary archives there as releases.  Give an entry point in the top-level README.md; put content in there an

[2015-08-10 23:58] j-rivero commented on #74
Seems like the slave is back to that state of no desktop manager. Can we configure an auto-login so I can disable jenkins + reboot and back to connect to it? Thanks.

[2015-08-11 00:03] wjwwood commented on #74
Uh, sure let me set that up for you.

[2015-08-11 00:11] wjwwood commented on #74
Ok, auto login seems to be setup now.

[2015-08-11 00:28] j-rivero commented on #74
Working fine, thanks!

On Tue, Aug 11, 2015 at 2:11 AM, William Woodall <notifications@github.com>
wrote:

[2015-08-11 03:13] j-rivero commented on #51
Having a ROS2.0 installation in my local box, how would you recommend to test local changes let's say against the `rmw_connext_cpp` (so I don't have to run ament on all the ROS packages and the local changes are preserved)?

[2015-08-11 03:52] wjwwood commented on #51
I'm not sure I understand what you mean by this.

You can build individual packages with the `--only <package_name>` option. You can also start with a particular packages and continue from there as normal, skipping the packages that lead up to that with the `--start-with <package_name>` option. If you use the `--symlink-install` option it will symlink all installed files, including headers and cma

[2015-08-11 18:57] dirk-thomas commented on #60
I have created a `ros2` branch in the `class_loader` repo (https://github.com/ros/class_loader/tree/ros2).

The new branch:
* uses ament
* uses C++11
* updates constness of signatures
* removes the Boost dependency
* general clean up

Please "review" if this is sufficient for this.

[2015-08-11 23:06] gbiggs commented on #60
+1. Looks like it does the job to me.

[2015-08-12 02:05] j-rivero commented on #51
Thanks William, that was enough to run my tests.

Report from my works:
 * I was able to build the 5.2.0 version of RTI Connext with static libs (libraries are using a 'z' postfix), no problem, compiled just fine.
 * I have an script to convert from the install layout of 5.2.0 version that we host in the OSRF github, to the same layout that is currently installed in the jenkins node, 5.1.0.
 * Whe

[2015-08-12 16:26] esteve commented on #51
@j-rivero it'd be great if your efforts could be integrated upstream, can your script be incorporated into RTI's CMake system? I'm sure Fernando would merge it if we ask him.

[2015-08-12 16:58] j-rivero commented on #51
The script is really no more than a workaround to mimic the previous 5.1.0 installation. We are in contact with Fernando via mail to help with their installation layout design. When it is ready, we should not need the script, just migrating our code (cmake module) to work with the new installation layout.

[2015-08-12 17:13] dirk-thomas commented on #51
Our CMake module in the rmw_connext branch already works with the 5.2 binaries provided by RTI. We should not need to modify them but try to make our custom built binary have a similar layout.

[2015-08-12 17:27] esteve commented on #51
@dirk-thomas agreed. IMHO it's best to collaborate with Fernando to adapt RTI's CMake scripts to produce the same directory layout as the binaries they provide, Fernando's certainly willing to help.

[2015-08-12 18:30] esteve commented on #60
+1

[2015-08-12 19:19] wjwwood commented on #60
+1

[2015-08-12 19:49] tfoote commented on #60
Overall looks good. As this is a fork of the existing implementation currently without a rename we should not reset the version number, but bump it up following semantic versioning which would be a major version number up and not delete the old changelogs etc.

[2015-08-13 10:38] j-rivero commented on #51
Update: I have patched different parts of code involved into getting the 5.2 RTI Connext, and reach until the point of needed a 64 bits compilation of the library. The community version of RTI Connext don't have support for it by default, I'm working on it and contacted upstream about this option.

BTW, I assume that we are not supporting 32bits compilations, right?

[2015-08-14 02:40] j-rivero commented on #74
My investigation (Windows 7 system) on stopping the debugging window:

 * The [recommend way](https://msdn.microsoft.com/en-us/library/e631wekh.aspx) I found in all pages is to include the code a couple of lines to disable the debugger Window. We would need to include the code in every executable which is not nice. The most complete text describing text I found with the solution is: http://www.zac

[2015-08-14 02:42] dirk-thomas commented on #74
I set those values but for the failing tests it still shows the debugger dialog.

[2015-08-14 03:13] j-rivero commented on #51
The good news: I have a 64 bits MSVC 2015 installation of current 5.2 community edition in both, Release and Debug mode and I've sent the patches to upstream.

The bad news: the `rmw_connext_cpp` is still not able to compile, it is failing in linking with 9 error in symbols coming from constants (`DDS_DURATION_INFITINE`, ...) which seems present in the libraries being linked. I will look into this

[2015-08-14 21:13] esteve opened #85 "Replace usage of typedef with using"

[2015-08-15 01:32] dirk-thomas commented on #70
I am closing this since the only remaining task is the custom Connext package built with Visual Studio 2015 which is tracked in a separate ticket.

[2015-08-15 01:32] #70 closed

[2015-08-17 00:56] dirk-thomas commented on #53
After the latest set of PRs their is only one kind of warnings left: http://ci.ros2.org/job/ros2_batch_ci_windows/201/warnings34Result/category.63481637/package.-2136935613/

@esteve Can you please fix those so that we can enable the email notification for the nightly Windows job.

[2015-08-17 17:09] esteve commented on #53
@dirk-thomas

PR: https://github.com/ros2/demos/pull/9
CI job: http://ci.ros2.org/job/ros2_batch_ci_windows/210/

[2015-08-17 20:16] dirk-thomas commented on #53
I think the remaining 10 warnings are related to the failing tests: http://ci.ros2.org/job/ros2_batch_ci_windows/213/warnings34Result/

[2015-08-17 21:16] esteve opened #86 "Add support for loading QoS profiles via XML files"

[2015-08-17 22:44] #78 closed

[2015-08-17 23:35] esteve opened #88 "CI scripts fail to rebase because of missing user info"
See:

http://ci.ros2.org/job/ros2_batch_ci_linux/207/console

[code]

[2015-08-17 23:55] wjwwood commented on #85
+1 to all pr's (forgot I reviewed them this morning), with a passing CI job.

[2015-08-17 23:58] dirk-thomas commented on #88
Fixed for Linux: 6a8c2683494d8389f1262072505fd051b505d977

[2015-08-17 23:58] #88 closed

[2015-08-18 00:15] dirk-thomas commented on #85
+ to all PRs

[2015-08-18 00:49] jacquelinekay commented on #86
It looks like the premise of these changes is under discussion in ros2/rclcpp/pull/92.

Ignoring that: perhaps you could add a test for QoS profile parsing?

[2015-08-18 17:21] esteve commented on #85
Latest CI jobs:

http://ci.ros2.org/job/ros2_batch_ci_linux/
http://ci.ros2.org/job/ros2_batch_ci_osx/
http://ci.ros2.org/job/ros2_batch_ci_windows/

[2015-08-18 19:13] #85 closed

[2015-08-18 20:44] jacquelinekay opened #89 "Migrate rttest to ros2 organization"
and integrate with CI

[2015-08-18 21:17] #60 closed

[2015-08-19 02:38] j-rivero commented on #51
**Current status**:
 - 64 bits support is merged upstream
 - To build our `rmw_connext_cpp`  we need upstream to merge our patches. [Tracker issue](https://github.com/ros2/rmw_connext/issues/78).
    - Workaround: custom build from our fork. In your mail.
 - `rmw_connext_cmake` [pull request](https://github.com/ros2/rmw_connext/pull/74) needs to be in to use MSVC 2015, should be ready to merge.

*

[2015-08-19 03:05] wjwwood opened #91 "Implement subscription side filtering when intra process is being used"
Currently, there is nothing stopping a subscriber from receiving messages from both the intra process mechanism and the inter-process mechanism. Therefore publishers and subscriptions connected by intra process should avoid (through filtering or some other mechanism) exchanging messages using the inter process communications.

So far I have looked into:

- Publisher side filtering: before calling

[2015-08-19 03:08] wjwwood opened #92 "Audit intra process comms for thread safety"
At best implement tests which exercise the thread safety of the intra process manager class, but also audit the design considering the possible ways in which lighting may strike.

This is a follow on to https://github.com/ros2/ros2/issues/59

Related comments:

- https://github.com/ros2/rclcpp/pull/73#discussion_r37443374
- https://github.com/ros2/rclcpp/pull/73#discussion_r37456105

[2015-08-19 03:09] wjwwood commented on #59
Ok I think this is ready for review, I updated the OP with links to follow on issues.

[2015-08-19 05:59] dirk-thomas commented on #55
I pushed the forked `pluginlib` which uses the forked `class_loader` as well as the ament index through `ament_index_cpp`: https://github.com/ros/pluginlib/tree/ros2

[2015-08-19 16:06] dirk-thomas commented on #53
Last warning fixed (suppressed) by ros2/ros2#90.

[2015-08-19 16:06] #53 closed

[2015-08-19 17:40] esteve opened #93 "Add system default QoS profile"

[2015-08-19 18:26] esteve commented on #93
CI jobs:

http://ci.ros2.org/job/ros2_batch_ci_linux/225/
http://ci.ros2.org/job/ros2_batch_ci_windows/228/ (not yet started)
http://ci.ros2.org/job/ros2_batch_ci_osx/148/ (not yet started)

[2015-08-19 20:44] jacquelinekay commented on #91
I like the idea behind the first approach best, but it may mean creating a hack-y code path for latched messages (if publishing a latched topic, store an "in flight" message in the intra-process manager,  and short-circuit `take_intra_process_message` for the subscriber to the latched topic when it instantiated).

[2015-08-19 20:47] dirk-thomas commented on #59
+1 for all PRs (beside the micro comments)

[2015-08-19 20:54] jacquelinekay commented on #59
I started some pending CI jobs, waiting on the results before I approve:

ci.ros2.org/job/ros2_batch_ci_linux/229/
http://ci.ros2.org/job/ros2_batch_ci_osx/150/
http://ci.ros2.org/job/ros2_batch_ci_windows/232/

[2015-08-19 20:55] wjwwood commented on #91
@jacquelinekay suggested we test:

- Test multiple nodes doing intra process.
- Test a case where the publisher has intra process enabled but the subscription doesn't, and vice versa.

[2015-08-19 20:58] dirk-thomas commented on #93
The patches look ok to me.

I think we need to catch up on ros2/design#36 to describe the big picture and use cases and from that derive the options we want to expose and how the user can override the them. Currently with the incremental changes it is a bit unclear to me.

[2015-08-19 21:04] wjwwood commented on #91
Yeah, the issue is with inter process subscriptions. If we never call rmw_publish (in order to avoid duplicate delivery to the intra process subscription) then we cannot rely on DDS's persistence QoS to handle latching for us (because we never gave it the message to persist). It's likely that the first solution would also need the subscription filtering in order to be used with latching.

[2015-08-19 21:08] jacquelinekay commented on #59
Looks like the rclcpp tests do not compile on Linux. I was seeing this locally but it's confirmed on Jenkins.

[2015-08-19 21:11] esteve commented on #93
@dirk-thomas sure. These patches just let the user leave up to the underlying implementation to pick whatever QoS values are appropriate. For example, if using RTI Connext, the user can have an XML file with QoS profiles, and RTI Connext will automatically load it if it's in `$NDDSHOME/resource/qos_profiles_5.2.0/xm/NDDS_QOS_PROFILES.xml`

In any case, we already agreed to update the design docume

[2015-08-19 21:24] wjwwood commented on #59
Ok, I think I have a fix for that.

I'm going to make sure all outstanding comments are addressed, rebase, and run the style checker, then I'll start new CI jobs.

[2015-08-19 21:26] dirk-thomas opened #94 "remove explicit reference when passing smart pointers"
Based on discussion in https://github.com/ros2/demos/pull/5/files#r37450680

[2015-08-20 17:03] jacquelinekay opened #95 "Add codepath for locking the size of dynamically sized messages"
Suggestion: during the initialization phase of node lifecycle, provide a way of limiting the size of dynamic messages objects so that they can be preallocated before node execution.

Original posts from @adolfo-rt in https://github.com/ros2/demos/pull/7:

"What I'd like to see in the long run is the ability to preallocate messages in publishers and subscribers, so dynamically-sized fields can be u

[2015-08-20 17:13] dirk-thomas commented on #95
I don't see how that should be possible for the DDS internal part. The generated code for DDS messages can't be altered at runtime and these messages are unbounded.

[2015-08-20 17:41] adolfo-rt commented on #95
If a publisher has put a limit on the size of a message but the subscriber publishes a message larger than that limit, the publisher will potentially lose data.

Instead of losing data, I would prefer a `resize()` to take place. I think it's better to incur once in a (potential) violation of real-time constraints, than to start losing data from this moment on. If you have a hard real-time system,

[2015-08-20 18:09] jacquelinekay commented on #95
The immediate benefit of this feature would be allowing messages with string fields to be used in real-time execution, which opens up most of the standard message definitions. We currently do not have a way of declaring a string message with a bounded upper size (maybe a bounded array of chars? ugh).

There is also the added benefit of reusing existing dynamically-sized, unbounded messages in gene

[2015-08-20 18:18] dirk-thomas commented on #95
@jacquelinekay We do have the ability to specify the upper boundary of strings.

[2015-08-20 18:27] jacquelinekay commented on #95
yeah, I forgot that we do have a way of specifying the upper boundary of strings. The issue I was thinking of is that the C++ struct generated by `rosidl` for a bounded string field is no different from the generated code for an unbounded string, as you can see in https://github.com/ros2/rosidl/blob/master/rosidl_generator_cpp/resource/msg__struct.hpp.template

[2015-08-20 19:21] adolfo-rt commented on #95
Not only strings. Vectors of floating-point numbers and other numeric structures (think a PID gains message) are commonplace in control code. A general-purpose control message will specify these as dynamically-sized vectors, so it can work on arbitrary-size robots (e.g., a few joints or many).

[2015-08-20 19:34] wjwwood commented on #59
New CI jobs:

- http://ci.ros2.org/job/ros2_batch_ci_linux/243/
- http://ci.ros2.org/job/ros2_batch_ci_osx/165/
- http://ci.ros2.org/job/ros2_batch_ci_windows/244/

[2015-08-20 20:51] j-rivero commented on #51
The good news: the [first build](http://ci.ros2.org/job/ros2_batch_ci_windows/247/) against our Community version 5.2 binary package in Windows is ready.

The bad news: it displays more testing errors than with the Professional version.

[2015-08-20 22:55] wjwwood commented on #59
I had an uncommitted fix which broke the other jobs, here are three new ones:

- http://ci.ros2.org/job/ros2_batch_ci_linux/246/
- http://ci.ros2.org/job/ros2_batch_ci_osx/171/
- http://ci.ros2.org/job/ros2_batch_ci_windows/250/

[2015-08-20 23:47] jacquelinekay commented on #93
+1 to these patches

[2015-08-21 00:10] wjwwood commented on #59
Ok, I rebased and fixed the uncrustify problems:

- http://ci.ros2.org/job/ros2_batch_ci_linux/247/
- http://ci.ros2.org/job/ros2_batch_ci_osx/175/
- http://ci.ros2.org/job/ros2_batch_ci_windows/251/

[2015-08-21 00:17] #93 closed

[2015-08-21 01:30] jacquelinekay commented on #59
+1 for squash and merge on all branches

[2015-08-21 15:44] dirk-thomas commented on #38
Do we still have a need for this? Currently all platforms use the same default arguments and the user can always trigger the individual jobs separately.

[2015-08-21 17:18] wjwwood commented on #38
Should be fine to close.

[2015-08-21 17:18] #38 closed

[2015-08-21 20:25] wjwwood commented on #59
Ok the CI jobs look good.

[2015-08-21 20:30] #59 closed

[2015-08-22 00:41] #89 closed

[2015-08-25 05:05] wjwwood commented on #91
Ok, I've now tested it against opensplice and it works. I still don't have a good way to prove it in a test. I tested it by printing messages when entering each handle function (handle intra and handle inter processing messages) as well as printing something when a inter process message is explicitly dropped.

I need to make some changes to the rclcpp API to really test end to end pointer preserva

[2015-08-25 05:07] wjwwood commented on #91
I still haven't gotten to the tests that @jacquelinekay suggested (I mention them higher in this thread).

I think we should get the outstanding pull requests merged and then I can open more pull requests to adjust the rclcpp API to include more callback signatures for testing and to add the missing tests.

[2015-08-25 18:05] jacquelinekay commented on #92
I made the demo single-threaded for now, to avoid possible lightning strikes (ros2/demos/pull/12).

[2015-08-25 18:59] wjwwood commented on #91
Before merge I have to implement for Connext and Connext Dynamic. I'll do that now and report back when it's ready for final review.

[2015-08-25 21:05] wjwwood commented on #91
Ok, Connext and Connext Dyanmic are implemented. I'm going to write another system test or two and then this will be ready for final review.

[2015-08-25 21:34] wjwwood commented on #91
I'm still working on a system test, but here are some preliminary CI jobs:

- http://ci.ros2.org/job/ros2_batch_ci_linux/270/
- http://ci.ros2.org/job/ros2_batch_ci_osx/190/
- http://ci.ros2.org/job/ros2_batch_ci_windows/270/

[2015-08-26 01:50] wjwwood commented on #91
I fixed some tests and addressed outstanding uncrustify style stuff, here are new CI:

- http://ci.ros2.org/job/ros2_batch_ci_linux/271/
- http://ci.ros2.org/job/ros2_batch_ci_osx/191/
- http://ci.ros2.org/job/ros2_batch_ci_windows/271/

This is ready for review. I'll squash after review.

Now I'm working on the ability to receive the message info object in the rclcpp callback so that we can write

[2015-08-26 17:23] jacquelinekay commented on #91
Everything looks good except for the Windows build. What's going on there?

[2015-08-26 18:41] wjwwood commented on #91
@jacquelinekay I have no idea, I was hoping it would just go away. I'm looking into it now...

[2015-08-26 18:43] wjwwood commented on #91
I guess I need to turn on `/bigobj`: https://msdn.microsoft.com/en-us/library/8578y171.aspx

Either that or start refactoring our code base...

[2015-08-26 18:49] wjwwood commented on #91
Ok, I added that flag, we'll see if it fixes the problem for now, new CI:

- http://ci.ros2.org/job/ros2_batch_ci_linux/273/
- http://ci.ros2.org/job/ros2_batch_ci_osx/193/
- http://ci.ros2.org/job/ros2_batch_ci_windows/273/

[2015-08-26 19:13] wjwwood commented on #91
Try, try again: http://ci.ros2.org/job/ros2_batch_ci_windows/274/

[2015-08-26 20:41] wjwwood commented on #91
This one should fix the warnings:

- http://ci.ros2.org/job/ros2_batch_ci_windows/275/

I'll also run the other CI again to ensure it didn't break them:

- http://ci.ros2.org/job/ros2_batch_ci_linux/274/
- http://ci.ros2.org/job/ros2_batch_ci_osx/194/

[2015-08-26 21:21] wjwwood commented on #91
The warnings have been fixed on Windows and the other two jobs are still good.

There is a new failing test on OS X, but I don't think it is related, and instead might be flaky. I don't want to take the time to debug that right now, so I opened an issue about it: https://github.com/ros2/system_tests/issues/36

There is also a new failing test on Linux (different from the one on OS X) which I saw w

[2015-08-26 21:24] wjwwood commented on #91
Follow up issue: https://github.com/ros2/system_tests/issues/37

[2015-08-26 21:24] wjwwood commented on #91
I think the outstanding pr's are ready to merge.

[2015-08-26 21:38] #91 closed

[2015-08-28 21:09] dirk-thomas commented on #94
http://ci.ros2.org/job/ros2_batch_ci_osx/219/

[2015-08-28 21:53] #94 closed

[2015-08-28 22:01] dirk-thomas commented on #82
The RC1 state is captures in: https://gist.githubusercontent.com/dirk-thomas/25906bd5af20e64d311c/raw/3862fe75eb1d25c0ae85e96e045a9ac930cec387/ros2-rc1.repos

Currently packaging:
* http://ci.ros2.org/view/packaging/job/ros2_packaging_linux/20/
* http://ci.ros2.org/view/packaging/job/ros2_packaging_osx/8/
* http://ci.ros2.org/view/packaging/job/ros2_packaging_windows/9/

[2015-08-31 21:54] dirk-thomas opened #106 "Jenkins test result reporting"
We currently use:
* the xUnit plugin, configured for GoogleTest result files
  * the problem is that it does not detect tests with an `error` (rather then `failure`), e.g. generated by nosetests

Before we used:
* the xUnit plugin, configured for JUnit result files
  * the problem was that it is unable to parse `gtest` result files (#77)

If I remember correctly:
* the JUnit plugin was not able to

[2015-09-01 01:47] wjwwood opened #107 "list_parameters segfaults on OS X"
On OS X (using the alpha1 binary) the `list_parameters` executable segfaults:

[code]

[2015-09-01 01:48] wjwwood commented on #107
Possibly related, `list_parameters_async` fails with an exception:

[code]

If they end up being unrelated I can spin off a new issue.

[2015-09-01 01:49] esteve commented on #107
Might be similar to the issue on Windows, though supposedly `std::mutex` is implemented the same way on OSX and Linux.

[2015-09-01 01:51] wjwwood commented on #107
`parameter_events` segfaults in the same way. We can look into it later. I'm just trying to catalogue the errors.

[2015-09-01 01:52] esteve opened #108 "add_two_ints_* binaries do not work on Windows"
However, they work fine if built from source.

[2015-09-01 01:53] esteve commented on #108
Binaries just hang and nothing happens.

[2015-09-01 01:56] esteve opened #109 "parameters crash on Node::set_parameters_atomically on Windows"
This might be caused by the way `std::mutex` is implemented on Windows (recursive mutex), look into converting that code into critical sections using the Windows API.

[2015-09-01 21:27] esteve commented on #109
Further investigation seems to indicate that the problem lies in using references to shared pointers, and it's not platform specific, though the issue doesn't seem to occur on Linux.

[2015-09-01 21:39] dirk-thomas commented on #109
Where do we still use references to shared pointers? I thought we removed those recently (#94).

[2015-09-01 21:41] esteve commented on #109
For example:

https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/service.hpp#L81
https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/parameter_service.hpp#L50

[2015-09-01 23:21] dirk-thomas commented on #35
This is only a problem on Linux / OS X. The Windows job works fine: http://ci.ros2.org/job/ros2_batch_ci_windows/335/

[2015-09-02 16:14] esteve commented on #109
#107 seems to be related to this

[2015-09-02 19:04] dirk-thomas commented on #106
Since I don't see a way to use a single Jenkins plugin / configuration to handle all different formats correctly I:
* added the test result file type as a second extension (e.g. `.gtest.xml`, `.xunit.xml`)
* generate the CTash dashboard summary to catch test which are e.g. label `Not Run`

https://github.com/ament/ament_cmake/commit/ff6da309cfcf8d721b69e01fb462594a7ef58e5f
https://github.com/ament

[2015-09-03 00:08] esteve opened #111 "Client requests are not sent immediately"
Services tests sleep for a short while to ensure that the client actually sends the request:

https://github.com/ros2/system_tests/pull/42#discussion-diff-38600456R62

[2015-09-04 03:32] IanTheEngineer opened #112 "Python2.7 PyYaml mixing with Python3.4"
I'm not sure if I should be posting this on the `vcstool` repo or here. In following the Linux Development Setup guide wiki page, I ran into an issue of python 2.7 messing with python 3.4, even after installing the proper PyYaml package for Python 3.4:
[code]
Forcing python 3.4 in the front of my `PYTHONPATH` fixes the issue, but I'm sure there must be a more elegant way to help those installing P

[2015-09-04 04:46] EnricoMingo opened #113 "Problem compiling ros1_bridge"
Hi, I have just tried to install ROS2 but I have this error when I compile the ros1_bridge:

```ImportError: dynamic module does not define init function (PyInit__roslz4)```

I am using the script:

src/ament/ament_tools/scripts/ament.py

[2015-09-04 04:54] dirk-thomas commented on #113
Please pay the exact steps you performed as well as the full error message.

[2015-09-04 05:15] wjwwood commented on #113
@EnricoMingo it may be that you missed this note:

From: https://github.com/ros2/ros1_bridge/blob/master/README.md#build-the-bridge-from-source

Until we get a new release of `ros_comm` out, you'll have to patch the `rospy` file as the note suggests. You can undo the patch after building.

[2015-09-04 05:30] EnricoMingo commented on #113
Ok, thank you! I'll try!

2015-09-04 14:15 GMT+09:00 William Woodall <notifications@github.com>:

--
Ing. Mingo Enrico Hoffman
Istituto Italiano di Tecnologia, Genova

[2015-09-04 05:31] dirk-thomas commented on #112
I assume you have installed the Python 3 version of `vcstool` but have the Python 2 folder on the `PYTHONPATH`? Then your workaround is probably the only way around the problem.

If you want to avoid this you might either remove the Python 2 path from the environment or install the Python 2 package of `vcstool`.

[2015-09-04 15:41] dirk-thomas commented on #106
While it looks good right now I want to create a set of tests for this before closing it. Back to in-progress...

[2015-09-04 20:45] dirk-thomas commented on #56
Shipped :ship:

[2015-09-04 20:45] #56 closed

[2015-09-08 20:35] #57 closed

[2015-09-08 20:52] dirk-thomas commented on #54
Shipped.

[2015-09-08 20:52] #54 closed

[2015-09-08 20:53] wjwwood commented on #55
TODO for me. Summarize what's been done for the alpha 1 and move remaining things into new issues.

[2015-09-08 21:18] #58 closed

[2015-09-08 21:18] jacquelinekay opened #118 "Static string class for realtime error reporting"
For rmw and rcl libraries.

[2015-09-08 21:18] #68 closed

[2015-09-09 01:39] jacquelinekay opened #119 "CI for real-time performance"
It would be great to set up a machine with RT_PREEMPT installed showing 0 pagefaults, 0 mallocs, and satisfactory jitter (3% of 1KHz) for a few illustrative examples, especially as I or others start addressing some of the relevant cards, and as @codebot develops more tools targeting embedded platforms.

Connect #118
Connect ros2/rclcpp/issues/105
Connect ros2/rclcpp/issues/104
Connect ros2/rclcpp/

[2015-09-12 02:36] BobDean commented on #95
DDS deals with this by internally defining a max bound for unbounded sequences. Or at least RTI did when i asked gordon about this 3 years ago. Within our code we have rframe::FixedString<N> class, which provides std::string interface, but on a preallocated buffer, and a DynamicArray<N> class which provides bounded array capabilities.  Serialization is then smart enough to only send size() entries

[2015-09-12 11:01] dirk-thomas commented on #95
This is not necessarily the case with Connext 5.2 since it finally allows really unlimited bounds. So if a ROS message is defined with unbounded arrays there are also truely unbounded in Connext.

The default upper bounds in Connext (when not using --unbounded*) are really small (100 for sequences, 255 for strings) which was not realistic for many messages anyway.

[2015-09-12 12:56] BobDean commented on #95
@dirk-thomas , are these unbounded arrays supported within their custom components such as sql and excel logging? my overcome-by-events conversation was centered on how data classes were unrollled into sql, which required predefined column names.

[2015-09-12 21:56] dirk-thomas commented on #95
I have never used any of these Connext parts so I don't know.

[2015-09-15 17:34] dirk-thomas commented on #112
I will close this ticket since it seems to be a configuration problem of the environment.

[2015-09-15 17:34] #112 closed

[2015-09-15 17:35] dirk-thomas commented on #113
I will close this ticket for now. If you still run into the issue please comment here and the ticket can be reopened.

[2015-09-15 17:35] #113 closed

[2015-09-15 21:21] tfoote commented on #86
We agreed not to support the RTI XML format, but to support some form of the future standard DDS format, but not through the API.

[2015-09-15 21:52] esteve opened #120 "Remove references to shared pointers"
References to shared pointers cause issues with the lifetime of pointers, which have exposed bugs in certain parts of our code (e.g. services).

[2015-09-15 21:58] esteve commented on #120
This branch is named `fix-crash-windows` because it initially seemed that only Windows was affected.

[2015-09-15 23:20] dirk-thomas commented on #106
I have create the repo https://github.com/ament/test_jenkins_test_results which contains gtests, nosetests as well as example code to be linted. For each of those there are succeeding as well as failing cases (also time outs if applicable).

The Jenkins view on those can be seen for the following three jobs:
* http://ci.ros2.org/job/ros2_batch_ci_linux/360/testReport/
* http://ci.ros2.org/job/ros2

[2015-09-15 23:46] #120 closed

[2015-09-15 23:47] jacquelinekay commented on #109
Does ros2/rclcpp/#112 fix this and #107?

[2015-09-15 23:49] esteve commented on #109
@jacquelinekay it should. @wjwwood could you test locally? (i.e. via the examples)

[2015-09-15 23:51] wjwwood commented on #109
Sure, I'm building master now.

[2015-09-15 23:53] esteve commented on #109
@wjwwood thanks.

[2015-09-16 00:13] wjwwood commented on #109
lgtm

[2015-09-16 00:15] esteve commented on #109
Fixed via ros2/rclcpp#112

[2015-09-16 00:15] #109 closed

[2015-09-16 00:17] esteve commented on #107
@wjwwood does `list_parameters` work now with ros2/rclcpp#112 merged?

[2015-09-16 00:18] wjwwood commented on #107
Yeah, it runs now, but the output between the async and non async is different:

[code]

Not sure if that's expected or not.

[2015-09-16 00:18] #107 closed

[2015-09-16 00:21] esteve opened #121 "Different output between sync and async version of list_parameters"
Reported by @wjwwood, the sync and async version of list_parameters have different outputs:

[code]

[2015-09-16 00:21] esteve commented on #107
It shouldn't, just filed a new ticket:

https://github.com/ros2/ros2/issues/121

[2015-09-16 02:41] IanTheEngineer commented on #112
Ah, it was always an environment configuration issue, but I think it should
be documented in the tutorial. If you think so as well, I'll submit a pull
request.
On Sep 15, 2015 1:34 PM, "Dirk Thomas" <notifications@github.com> wrote:

[2015-09-16 04:22] dirk-thomas commented on #112
Sure, please go ahead and purpose a patch.

[2015-09-16 20:41] wjwwood commented on #55
Ok, I've struck out anything we didn't close above, and I spun out a few issues for some of the more immediate tasks. We only managed to accomplish part of this demo:

- We got intra process working.
- We did not get loading of nodes by components done.
- We did not get Type Masquerading implemented.
- We did not get to extending launch with syntactic sugar for launching nodes remotely.

[2015-09-16 20:41] #55 closed

[2015-09-16 20:44] dirk-thomas commented on #106
Please review this meta ticket in order to close it.

[2015-09-16 21:08] wjwwood commented on #106
The output looks fine to me, and appears to line up with what you put in the comments of the example files.

Is the intention to leave this package integrated into the test suite? I guess not and it's just for testing now and will be discarded later?

Did you delete your comment?

[2015-09-16 21:25] dirk-thomas commented on #106
I will keep the new repository https://github.com/ament/test_jenkins_test_results around for future testing but it is not part of the ros2.repos file so it won't be used by default.

Yes, I removed my comment asking for review to keep the ticket history short.

[2015-09-16 21:28] wjwwood commented on #106
Please don't, there's no harm to having another comment. I opened the issue and the comment I got in the email was not there, making me think the page was out of date or the wrong issue. There's no visibility for that.

[2015-09-16 22:32] #106 closed

[2015-09-21 13:30] ainchauspe opened #123 "generated files"
Hi,

This is Anita from Erle Robotics. I come to you because I'm getting an error when building this package https://github.com/erlerobot/ros2_joy and I'm asking for some advice.

This is not the first time I get this error: some of the includes do not exist. I think it might be something I do wrong in CMakeLists.txt, and consequently, some of the files are not generated when the package is built.

[2015-09-21 15:34] wjwwood commented on #123
@ainchauspe could you provide the output of the error?

[2015-09-21 15:49] ainchauspe commented on #123
sure @wjwwood
[code]

1- `joy__struct.h` is a file generated when the package is built.
2- the file `std_msgs/Header-c.h` does not exist.

[2015-09-21 15:55] wjwwood commented on #123
The files which end in `.h` are for our, as yet incomplete, C library. You'll need to use `.hpp` every where. I'd recommend you do `#include <sensor_msgs/msg/joy.hpp>` instead.

(please close the issue if this works for you)

[2015-09-21 16:47] #123 closed

[2015-09-24 18:59] dirk-thomas opened #124 "use FastRTPS"
This tickets collects all necessary steps in order to build ROS 2 with FastRTPS:

* [x] add the eProsima repos: https://github.com/ros2/ros2/pull/116

**Linux:**
* [x] build CI job
  * [x] Docker needs to install missing boost dependencies: https://github.com/ros2/ros2/pull/115
* [x] pass all tests
  * http://ci.ros2.org/job/ros2_batch_ci_linux/389/
  * [x] `fastrtps_cmake_module` and `rmw_fastrtp

[2015-09-25 19:36] dirk-thomas commented on #124
All tests pass on Linux now.

[2015-10-06 22:45] dirk-thomas commented on #124
The latest builds passed on all three platforms.

But on OS X and Windows there are some compiler warnings as well as failing tests.

[2015-10-13 17:11] dirk-thomas opened #127 "flaky pub / sub and request / response tests"
I ran a set of jobs as a base line:

* http://ci.ros2.org/job/ros2_batch_ci_osx/335/ **0** failing tests
* http://ci.ros2.org/job/ros2_batch_ci_windows/475/ **57** failing tests

Then I ran a set of jobs with `--ctest-args --repeat-until-fail 20`:
* http://ci.ros2.org/job/ros2_batch_ci_osx/336/ **4** failing tests
* http://ci.ros2.org/job/ros2_batch_ci_windows/476/ **59** failing tests

The argume

[2015-10-13 22:47] dirk-thomas commented on #51
What is the status of building Connext from source? What are the remaining steps and a reasonable time frame for them?

[2015-10-15 19:51] dirk-thomas commented on #12
Decided on configuration in ament/ament_lint#31

[2015-10-15 19:52] dirk-thomas commented on #12
Updated repos:
- [x] ament/ament_index#6
- [x] ros2/rosidl#42
- [x] ros2/rosidl_dds#27

[2015-10-15 21:11] jacquelinekay commented on #127
duplicates:

ros2/rmw_connext#29 (has some logs and records of other failures)
ros2/system_tests#37 (link to RTI community post about known shared memory issue, probably not the cause since we see it in Connext and Opensplice)

[2015-10-16 19:13] esteve commented on #121
Fixed in https://github.com/ros2/examples/commit/81f8e88fa8331f4f4532611f3273c230dfbb5960

[2015-10-16 19:13] #121 closed

[2015-10-16 20:56] esteve commented on #108
Works locally.

[2015-10-16 20:56] #108 closed

[2015-10-18 13:09] flobotics opened #129 ""Ament Tutorial" build error"
hi,
when i try to follow this https://github.com/ros2/ros2/wiki/Ament-Tutorial , it returns after running "src/ament/ament_tools/scripts/ament.py build --build-tests --symlink-install" command, this error:

[code]

P.S.:  If someone installs completly new, you could perhaps mention that you need to install python3-vcstools and python3-vcstool

tested on ubuntu 14.04

thanks for help
flo

[2015-10-18 17:58] dirk-thomas commented on #129
Have you built the workspace before? If yes, it might use a different cached location of gtest. Please try to remove the file `build/ament_index_cpp/CMakeCache.txt` and then call the build command again.

The tutorial does not mention `vcstools` at all and doesn't need it.

The tutorial does not cover the install instructions. They are described on the page https://github.com/ros2/ros2/wiki/Linux-

[2015-10-18 18:44] flobotics commented on #129
hi,
i only followed the tutorial at https://github.com/ros2/ros2/wiki/Ament-Tutorial, where i only can run the first 6 commands, then the error occured.

As i create the ros2_ws  directory in this tutorial, i dont think that i have built the workspace before, or?  But after deleting the build/ament_index_cpp/CMakeCache.txt file, the same error occured ?

The tutorial mentions a line "vcs import ~/

[2015-10-18 20:17] dirk-thomas commented on #129
Does you workspace contain a checkout of the https://github.com/ament/gtest_vendor repo? If not, do you have the Debian package `gtest` installed?

You only need `vcstool` to run that line - `vcstools` is a completely separate tool and is not used here.

[2015-10-19 11:13] flobotics commented on #129
in my ros2_ws/src directory are only a "ros2" and a "ament" directory, no gtest_vendor ?

I installed libgtest-dev, deleted CMackeCache.txt file and build again, and now another error occured:

-- Build files have been written to: /home/ros/ros2_ws/build/rosidl_generator_cpp
==> '. /home/ros/ros2_ws/build/rosidl_generator_cpp/cmake__build.sh && /usr/bin/make -j4 -l4' in '/home/ros/ros2_ws/build/ro

[2015-10-19 21:28] tfoote commented on #80
+1 for all the attached

[2015-10-19 21:37] #80 closed

[2015-10-20 21:18] jacquelinekay commented on #12
I will take rttest

[2015-10-20 21:18] jacquelinekay commented on #12
@wjwwood will take rclcpp (and other rcl libraries?)

[2015-10-21 02:05] dirk-thomas opened #130 "options to provide additional functionalities for generated data structures"
Related to ros2/rclcpp#91 and ros2/common_interfaces#3.

[2015-10-22 16:12] dirk-thomas commented on #17
Confirmed to be fixed by ament/ament_package#23

[2015-10-22 16:12] #17 closed

[2015-10-22 23:29] esteve opened #131 "Alpha 2 release (2015-10-30)"
- [x] Support for custom allocators in rclcpp
 - [x] Useful for real-time messaging
- [x] Feature parity of Windows with Linux/OSX
 - [x] Workspace management
 - [x] Services:
    - [x] OpenSplice https://github.com/ros2/system_tests/pull/42
    - [x] RTI Connext
 - [x] Parameters:
    - [x] OpenSplice https://github.com/ros2/system_tests/pull/44
    - [x] RTI Connext
- [ ] rclcpp API improvements

[2015-10-23 00:31] j-rivero commented on #51
I remember to compiled the source for the first alpha locally after all my PRs were merged. I don't remember to have setup a jenkins job to do it which would be a good idea. If you were asking about the community version, it should be ready to be compiled with VS2015.

[2015-10-23 03:44] dirk-thomas commented on #51
Can you please continue to make the community a drop-in replacement? Then we can try if it makes any difference regarding the failing tests on Windows.

[2015-10-23 11:58] flobotics commented on #131
hi,
is 2016-10-30 really true ?

flo

[2015-10-23 12:18] dirk-thomas commented on #131
No, it should be 2015.

[2015-10-25 02:26] dirk-thomas commented on #129
I can't follow how you get the above error. Please provide a complete sequence of commands you ran (including how you installed the dependencies and cloned the repos). Maybe that helps to find out why it doesn't work for you.

[2015-10-26 09:48] flobotics commented on #129
it was a complete new installation of ubuntu 14.04 and here are all commands run so far:

    1  cd Dokumente/
    2  tar xf linux-4.1.7.tar.gz
    3  ls
    4  cd linux-4.1.7/
    5  cp /boot/config-3.13.0-65-generic .config
    6  make olddefconfig
    7  sudo apt-get install libncurses5 libncurses5-dev
    8  make menuconfig
    9  zcat ../patch-4.1.7-rt8.patch.gz |patch -p1
   10  make menucon

[2015-10-26 16:43] dirk-thomas commented on #12
Related ticket to either ignore `runtime/int` errors or update the code to comply with `cpplint`: ament/ament_lint#33

[2015-10-26 19:26] dirk-thomas commented on #129
I am sorry, but I can't help you based on the history of your shell.

Please try build the ROS 2 code again starting from a clean shell and empty folder. If the problem persists please share the commands and their output.

[2015-10-26 20:02] flobotics commented on #129
i tried now these commands:

181  sudo rm -r ros2_ws/
  182  mkdir ~/ros2_ws
  183  mkdir ~/ros2_ws/src
  184  cd ~/ros2_ws/
  185  wget https://raw.githubusercontent.com/ros2/ros2/master/ros2.repos
  186  ls
  187  vcs import ~/ros2_ws/src < ros2.repos
  188  ls
  189  src/ament/ament_tools/scripts/ament.py build --build-tests --symlink-install
  190  history

and this is the result:

-- Build fi

[2015-10-26 20:08] dirk-thomas commented on #129
Looking at the code I don't see why that is happening for you and without being able to reproduce it I can't debug it myself.

Can you please add some debug output to the file in question (`/home/ros/ros2_ws/src/ros2/rosidl/rosidl_generator_cpp/bin/rosidl_generator_cpp`). E.g. add `print('...')` statements between lines 7-21. Maybe that help narrowing down what happens.

[2015-10-26 20:12] flobotics commented on #129
line 7 and 8 looks:

try:
    from rosidl_generator_cpp import generate_cpp

and the error output says:
File "/home/ros/ros2_ws/src/ros2/rosidl/rosidl_generator_cpp/bin/rosidl_generator_cpp", line 8, in
from rosidl_generator_cpp import generate_cpp
ImportError: No module named 'rosidl_generator_cpp'

couldnt it be, that this module is build, but not copied/placed where it should be ?

[2015-10-26 20:13] dirk-thomas commented on #129
That's why the code falls back to a relative import in the lines below.

[2015-10-26 20:15] flobotics commented on #129
can i look in my ros2_ws  if there is a rosidl_generator_cpp module exists ?

[2015-10-26 20:17] flobotics commented on #129
is this correct ?

 tree  src/ros2/rosidl/rosidl_generator_cpp/
src/ros2/rosidl/rosidl_generator_cpp/
├── bin
│   └── rosidl_generator_cpp
├── cmake
│   ├── register_cpp.cmake
│   └── rosidl_generator_cpp_generate_interfaces.cmake
├── CMakeLists.txt
├── include
│   └── rosidl_generator_cpp
│       ├── message_type_support_decl.hpp
│       └── service_type_support_decl.hpp
├── msg
│   ├── BoundedAr

[2015-10-26 20:33] dirk-thomas commented on #129
This is the layout of this package: https://github.com/ros2/rosidl/tree/master/rosidl_generator_cpp

[2015-10-26 20:37] flobotics commented on #129
i put in these print lines:

try:
    from rosidl_generator_cpp import generate_cpp
except ImportError:
    # modifying sys.path and importing the Python package with the same
    # name as this script does not work on Windows
    rosidl_generator_cpp_root = os.path.dirname(os.path.dirname(__file__))
    print( 'test0:' + rosidl_generator_cpp_root)
    rosidl_generator_cpp_module = os.path.join(

[2015-10-26 20:39] flobotics commented on #129
dont know why, but the test1:  output is at the end   __init__.py   and not  init.py

[2015-10-26 20:40] dirk-thomas commented on #129
The double underscores are interpreted as markdown syntax. Please edit your comment and make the output a code snippet to prevent that.

[2015-10-26 20:43] flobotics commented on #129
what markdown do i need for code ?

[2015-10-26 20:44] wjwwood commented on #129
@flobotics You need to wrap them in triple ` ` `.

[2015-10-26 20:45] dirk-thomas commented on #129
Have you installed `em` as described in the documentation?

    ImportError: No module named 'em'

[2015-10-26 20:46] flobotics commented on #129
no, never read something about em?

[2015-10-26 20:51] dirk-thomas commented on #129
https://github.com/ros2/ros2/wiki/Linux-Development-Setup

[2015-10-26 21:13] flobotics commented on #129
ah, i saw this page, but i thought i dont need a dev setup, but .... shame on me..  sorry

perhaps if it interrests you, the test output:

100% tests passed, 0 tests failed out of 15

Label Time Summary:
copyright     =   0.28 sec
cppcheck      =   0.34 sec
gtest         =  13.99 sec
lint_cmake    =   0.27 sec
linter        =   1.19 sec
nose          =   3.15 sec
uncrustify    =   0.30 sec

Total

[2015-10-26 21:15] wjwwood commented on #129
@flobotics that's all right, but you do need the dev setup to build from source. You can avoid that step if you use the binaries. I'll go ahead and close this issue then. Please feel free to ask us to reopen it if you think your problem hasn't been solved.

[2015-10-26 21:15] #129 closed

[2015-11-03 17:59] physincubus opened #139 ""Windows Build from source" fails in trying to use Cmake"
I believe that this is because the current build guide, for whatever reason, doesn't add cmake to the path. this should be fixed, or there should at least be an addition to the tutorial that it should be added to the path manually

[2015-11-03 18:01] dirk-thomas commented on #139
Can you please point to the tutorial you are referring to and what exactly you did?

https://github.com/ros2/ros2/wiki/Windows-Development-Setup#installing-build-tools mentions how to install CMake (`choco install -y cmake`) and that you might need to open a new shell in order to be able to run the new command.

[2015-11-03 18:03] physincubus commented on #139
The tutorial you referenced is the one. I followed the process and choco definitely installed cmake, but even using a new command prompt, upon building i get the error:

+++ Building 'ament_cmake_core'
Running cmake because arguments have changed.
ament build: Could not find 'cmake' executable

[2015-11-03 18:05] dirk-thomas commented on #139
Did the CMake installation show and UI where you had to select options?

[2015-11-03 18:08] physincubus commented on #139
no, just was output in the command prompt

[2015-11-03 18:12] dirk-thomas commented on #139
Thank. I added a note: https://github.com/ros2/ros2/wiki/Windows-Development-Setup/_compare/7b53810fa7373aeca6b5f6418f7c2208b32237ed...dcc1146b75986648a7e666c12f1822e70c30c30e

[2015-11-03 18:12] #139 closed

[2015-11-03 20:53] dirk-thomas opened #141 "change packaging to not use venv"
In order to avoid embedding a venv specific Python path into the shebang lines.

[2015-11-04 00:21] esteve opened #142 "Check that the values in the QoS profile structure are valid"
The `showimage` demo on Windows crashed because the structure was not properly initialized. See https://github.com/ros2/demos/pull/40

[2015-11-04 00:31] wjwwood commented on #79
I'm seeing `ddsi_conn_write failed -1` on my Mac as well. I think it might be a common error which can be causes be several different things.

[2015-11-04 01:32] wjwwood commented on #79
We found that `ddsi_conn_write failed -1` on OS X was caused by having too small of a max UDP packet size. But it could really be any system failure when doing a write and OpenSplice doesn't do a good job of reporting the `errno` and the error string.

[2015-11-04 01:49] #131 closed

[2015-11-04 18:59] dirk-thomas commented on #12
The latest job with cpplint enabled: http://ci.ros2.org/job/ros2_batch_ci_linux/547/ I have update the todo list in the first comment to reflect the repos which need fixing.

[2015-11-04 19:50] dirk-thomas commented on #124
* [x] eProsima/ROS-RMW-Fast-RTPS-cpp#6
* [ ] eProsima/Fast-RTPS#8

[2015-11-04 22:21] dirk-thomas opened #143 "Cover all examples with unit tests"
Based on the experience of the last prerelease we aim to cover all demos / examples with unit tests which e.g. check the output on stdout / stderr and ensure the expected output.

[2015-11-04 22:25] dirk-thomas opened #144 "Alpha 3 release (2015-12-18)"
**Feature development:**

* [x] Refactor rclcpp into a library @wjwwood
  * [x] Separate testing of Connext static and dynamic: ros2/ros2#147 + review + squash (3 days)
  * [x] Update ros1_bridge code to leverage that rclcpp is a library @dirk-thomas ros2/ros1_bridge#20
    * @dirk-thomas ~~reduce memory requirement by splitting generated factories into separate source files~~ no further work nece

[2015-11-04 23:50] jacquelinekay opened #145 "Use ccache on Jenkins"
For speed improvements.

[2015-11-04 23:51] jacquelinekay opened #146 "Build binary packages in nightly jobs"
In addition to running all automated tests.

[2015-11-04 23:52] jacquelinekay commented on #143
Special shoutout for `ros1_bridge`, which currently only gets built in the packaging job. We should build it in the CI jobs and add a test.

[2015-11-04 23:53] jacquelinekay opened #147 "Select one of connext or connext dynamic on Windows Jenkins job"
Needed for rclcpp_library

[2015-11-04 23:54] jacquelinekay opened #148 "write Windows development tricks document"
consolidating links, cases in code, etc that have historically been an issue.

Ideas:
- Visibility control
- Scheduling (spurious wakeups)
- exporting stdlib structure symbols
- templating and namespace resolution

[2015-11-05 00:21] wjwwood commented on #146
Just to clarify are the "automated tests" separate tests for the packaging or the tests within the normal packages (the same tests we run in CI)? Currently I think the packaging job doesn't build tests, but I could be wrong about that.

[2015-11-05 22:31] wjwwood commented on #147
This job should be only Connext Static: http://ci.ros2.org/job/ros2_batch_ci_linux/557/

[2015-11-06 00:17] wjwwood commented on #147
Ok if these CI work, then I think it will be good to go:

- http://ci.ros2.org/job/ros2_batch_ci_linux/562/
- http://ci.ros2.org/job/ros2_batch_ci_osx/430/
- http://ci.ros2.org/job/ros2_batch_ci_windows/578/ (opensplice)
- http://ci.ros2.org/job/ros2_batch_ci_windows/579/ (connext static)
- http://ci.ros2.org/job/ros2_batch_ci_windows/580/ (connext dynamic)

[2015-11-06 00:45] wjwwood commented on #147
Well those all failed ... Here are more Linux and OS X:

- http://ci.ros2.org/job/ros2_batch_ci_linux/563/
- http://ci.ros2.org/job/ros2_batch_ci_osx/431/

I'm working on Windows again...

[2015-11-06 01:10] jacquelinekay commented on #146
"automated tests" refers to the CI job that runs ctests. I am trying to communicate the takeaway I got from our meeting, which is that we should run packaging jobs nightly *in addition* to the current tests that are run nightly.

[2015-11-06 01:25] wjwwood commented on #146
Roger.

[2015-11-06 01:54] wjwwood commented on #147
Ok, this should be the final list of CI:

- http://ci.ros2.org/job/ros2_batch_ci_linux/563/
- http://ci.ros2.org/job/ros2_batch_ci_osx/437/
- http://ci.ros2.org/job/ros2_batch_ci_windows/581/ (opensplice)
- http://ci.ros2.org/job/ros2_batch_ci_windows/582/ (connext static)
- http://ci.ros2.org/job/ros2_batch_ci_windows/583/ (connext dynamic)

[2015-11-06 02:32] #147 closed

[2015-11-06 02:36] wjwwood commented on #147
I'll restart the CI's on https://github.com/ros2/rclcpp/pull/140 when @dirk-thomas has figured out how to keep the history.

[2015-11-06 19:28] wjwwood opened #150 "ci_scripts: change Windows defaults to something that "just work""
Currently the Windows job will try to build all of the rmw implementations by default and that will fail. We should change it to default to one, probably OpenSplice.

It would also be good to have an early check to make sure mutually exclusive options are not selected.

[2015-11-06 19:31] wjwwood opened #151 "ci_scripts: make launcher job more flexible because Windows cannot build many rmw impls"
Currently the launch job creates one job for each OS with the same settings on each. What we need now is for it to create multiple Windows jobs in addition to the Linux and OS X jobs, breaking them up by mutually exclusive build settings.

Optionally we could have a new Windows specific launcher job which can just launch multiple Windows jobs, or we could make options in the current launcher job t

[2015-11-06 20:11] #12 closed

[2015-11-06 22:54] flobotics opened #152 "by the way: rpi2B and ros2"
hi,
i know, till now only x86 is supported, but perhaps it interrests you. I build ros2 on rpi2B + ubuntu-14.04 + rt-preempt. When i came to the end it prints:

94% tests passed, 1 tests failed out of 16

Label Time Summary:
copyright     =   2.37 sec
cppcheck      =   3.23 sec
gtest         =  26.87 sec
lint_cmake    =   2.37 sec
linter        =  10.63 sec
nose          =   8.85 sec
uncrustify

[2015-11-06 22:59] tfoote commented on #152
Thanks for letting us know. Did you have to patch anything to get it to work?

[2015-11-06 23:30] flobotics commented on #152
for the ros2 part i did not patch anything, i just used the image from https://wiki.ubuntu.com/ARM/RaspberryPi   and then followed https://github.com/ros2/ros2/wiki/Linux-Development-Setup

for the rt-preempt kernel i patched a raspbian 4.1.25 kernel, which gave me max: 90 microseconds with rt-preempts cyclictest

[2015-11-07 13:51] flobotics commented on #152
running listener on x86_64 host and running talker on rpi2B over network, works out of the box

[2015-11-10 14:19] gerkey commented on #152
That's great to know, thanks!

[2015-11-10 14:48] vmayoral commented on #152
+1. Double checked it last weekend and I can confirm ROS 2 works totally fine on ARM platforms (RPi2 and CHIP, "the 9$ computer" tested so far).

@flobotics It's great seeing people interested in ROS 2 and ARM-based platforms. We should get in touch.

We've released the ROS 2 (alpha 2) in our last Debian release http://forum.erlerobotics.com/t/erle-brain-2-debian-image-azul/449/4 so that people ca

[2015-11-10 22:18] gerkey commented on #152
As you start testing it, please file new issues as you run into problems.

[2015-11-10 22:18] #152 closed

[2015-11-10 23:54] dirk-thomas commented on #124
Latest set of builds:
* http://ci.ros2.org/job/ros2_batch_ci_linux/578/
* http://ci.ros2.org/job/ros2_batch_ci_osx/462/ (2 times double free warning)
* http://ci.ros2.org/job/ros2_batch_ci_windows/621/ (we can't do cross-vendors tests on Windows anymore, so the tests are only covering rmw_fastrtps_cpp now) I don't know why most executables fail with the rc 3221225781. @richiprosima Any idea?

[2015-11-11 00:53] jacquelinekay commented on #111
@esteve Do you mind if a mark this as a duplicate of duplicate of ros2/rmw_connext#112?

[2015-11-11 00:56] esteve commented on #111
@jacquelinekay sure, no problem!

[2015-11-11 11:11] flobotics commented on #152
hi,at the moment i am a little bit testing , dont do much with ARM specially. saw your erle bots, nice thing, you saw http://spectrum.ieee.org/automaton/robotics/robotics-software/disney-software-design-and-print-custom-walking-robots    perhaps interresting for youfloVíctor Mayoral Vilches <notifications@github.com> hat am 10. November 2015 um 15:48 geschrieben:running listener on x86_64 host and

[2015-11-11 16:00] richiprosima commented on #124
Hi Dirk,

I've checked on my Windows. My dll libraries are installed in ${CMAKE_INSTALL_PREFIX}/lib. Although install/local_setup.bat was executed, my libraries weren't found by the system.
I've updated our repositories and now dll libraries are installed in ${CMAKE_INSTALL_PREFIX}/bin.

[2015-11-11 17:27] dirk-thomas commented on #124
I triggered another Windows build:
* http://ci.ros2.org/job/ros2_batch_ci_windows/626/

[2015-11-11 17:48] richiprosima commented on #124
It keeps on failing in your system.  Can you copy your build options please?

[2015-11-11 17:53] dirk-thomas commented on #124
We don't pass any specific options. In this build neither Connext nor OpenSplice is being sourced. It uses the repos defined in https://raw.githubusercontent.com/ros2/ros2/eprosima/ros2.repos. You can see the exact hashed in the console output (after this command `vcs log -l1 "src"`). The build is being started with the following command:

    env.bat "C:\tools\python\python.exe" -u ".\src\ament\a

[2015-11-11 18:05] richiprosima commented on #124
I use those repos. But I use

 "C:\tools\python\python.exe" -u ".\src\ament\ament_tools\scripts\ament.py" build --build-tests

I will try with yours.

Thanks

[2015-11-11 18:08] dirk-thomas commented on #124
The `--build-space` and `--install-space` arguments are only repeating the default values. The same for the `src` argument. But `--isolated` does make a difference.

[2015-11-12 01:11] tfoote opened #153 "Add support for tf in ROS2"
- [x] ROS agnostic core library
- [x] recreate ROS wrapper/helper scripts in ROS2

[2015-11-12 08:54] richiprosima commented on #124
I used `--isolated` and my test results were:

[code]
Are boost libraries accessible via PATH environment variable?

[2015-11-12 16:45] dirk-thomas commented on #124
Boost was not on the PATH until now. The slave only had the following env variables set:

    BOOST_LIBRARYDIR=C:\local\boost_1_59_0\lib64-msvc-14.0
    BOOST_ROOT=C:\local\boost_1_59_0

I added the lib folder to the PATH and triggered another Windows build: http://ci.ros2.org/job/ros2_batch_ci_windows/641/

[2015-11-12 22:22] dirk-thomas commented on #124
Boost was not on the PATH until now. The slave only had the following env variables set:

    BOOST_LIBRARYDIR=C:\local\boost_1_59_0\lib64-msvc-14.0
    BOOST_ROOT=C:\local\boost_1_59_0

I added the lib folder to the PATH and triggered another Windows build: http://ci.ros2.org/job/ros2_batch_ci_windows/646/ (this build does not show compiler warnings since the Jenkins plugin failed to extract them

[2015-11-16 18:47] dirk-thomas commented on #51
This is currently blocked on rticommunity/rticonnextdds-src#14.

[2015-11-17 22:14] dirk-thomas commented on #144
We have deferred "Component life-cycle" until Alpha 4.

[2015-11-23 05:53] wjwwood commented on #150
Closed by https://github.com/ros2/ros2/pull/154

[2015-11-23 05:53] #150 closed

[2015-11-23 05:55] wjwwood commented on #151
With https://github.com/ros2/ros2/pull/154, the ci_launcher job will launch all the Windows jobs. I looked into having options to only launch Windows from the ci launcher job, but that was gonna be complicated. Since you can do a ci launcher job to run all jobs (currently 5) and then cancel the linux and osx jobs to get one of each of the Windows jobs I won't make a special Windows only launcher j

[2015-11-23 05:55] #151 closed

[2015-11-24 00:31] #143 closed

[2015-11-24 22:01] tfoote commented on #153
Goal finish library by the 4th

[2015-11-25 20:19] gerkey commented on #145
#156

[2015-11-25 20:19] #145 closed

[2015-12-01 22:45] tfoote commented on #92
@gerkey to take a look.

[2015-12-02 00:48] dirk-thomas commented on #146
Done in #157.

[2015-12-02 00:48] #146 closed

[2015-12-03 18:01] jacquelinekay commented on #92
@wjwwood, do you consider this ticket to be resolved by recent improvements to fix race conditions? I don't believe that we've fixed all multithreading issues, but I'm fine with closing this issue for now and ticketing new, more specific issues about thread safety in the future.

[2015-12-03 18:04] wjwwood commented on #92
That's ok with me, this ticket was just there to remind us that I didn't consider thread-safety closely when originally writing it.

[2015-12-03 18:04] #92 closed

[2015-12-03 22:25] dirk-thomas commented on #124
@richiprosima The last update has been three weeks ago. The current state is:
* http://ci.ros2.org/job/ci_linux/658/ several tests fail
* http://ci.ros2.org/job/ci_osx/541/ still many compiler warnings and more failing tests then on Linux
* http://ci.ros2.org/job/ci_windows_fastrtps/3/ this job runs without warning parsing since the Jenkins plugin seem to not work well when building FastRTPS,

Wha

[2015-12-08 21:50] tfoote opened #162 "create separate rmw implementation CI jobs for linux and osx"
Since we're moving toward only supporting one rmw at the upper levels.

[2015-12-08 21:51] tfoote opened #163 "create cross vendor tests"
Re #99

Approach TBD

[2015-12-08 21:59] tfoote opened #164 "Push on console_bridge changes upstream"
Prioritize deboostifying, windows compile and

And deconflicting API. need to go through tick-tock re: https://github.com/ros/console_bridge/issues/18

[2015-12-11 15:00] richiprosima commented on #124
We've updated repository [Fast-RTPS](http://github.com/eProsima/Fast-RTPS) and [ROS-RMW-Fast-RTPS-cpp](eProsima/ROS-RMW-Fast-RTPS-cpp). Also we've created a pull request ros2/system_tests#85.

Now on my linux machine only fails cpplint and uncrustify tests. After running tests ament displays:
[code]
We didn't have time to check it on Windows. We will check next week.

[2015-12-14 17:20] dirk-thomas commented on #124
Great, the latest round of jobs (without the PR to system_tests) looks much better:
* http://ci.ros2.org/job/ci_linux/720/ one failing test related to FastRTPS, expected to be fixed with changed sleep times
* http://ci.ros2.org/job/ci_osx/597/ all failing tests are unrelated to FastRTPS
* http://ci.ros2.org/job/ci_windows_fastrtps/4/ multiple failing tests related to FastRTPS, expected to be fixed

[2015-12-15 22:40] gerkey commented on #124
@wjwwood Please make PR to FastRTPS for upcoming rmw API changes.

[2015-12-15 22:42] gerkey commented on #124
@dirk-thomas To add FastRTPS to our CI jobs as a supported rmw implementation.

[2015-12-15 22:43] gerkey opened #167 "Restructure Jenkins jobs"
Merge Windows jobs into a single job, with parameters to choose rmw implementation.

[2015-12-15 22:55] gerkey opened #168 "Add tests to rosidl_generator_cpp"
Similar to ros2/rosidl#46

[2015-12-16 01:28] dirk-thomas commented on #144
I have striked through the item "reduce memory requirement by splitting generated factories into separate source files". It looks like the current code the generated cpp file compiles and links in a reasonable time frame and without a significant memory usage. Therefore I don't think any further work is necessary right now.

Since I updated the content in the description this message is going to s

[2015-12-16 06:13] dirk-thomas commented on #167
I merged the Windows jobs in this commit https://github.com/ros2/ros2/commit/4260cacd3562037de1182a14e261ccdca95d981c and already deployed the configuration. The opensplice jobs have been renamed, all the other jobs have an "old_" prefix. Also modrewrite rules are in place to redirect the old urls.

[2015-12-16 06:13] #167 closed

[2015-12-16 21:14] dirk-thomas commented on #124
@richiprosima I have created a pull request to fix the compiler warnings in Fast-CDR: eProsima/Fast-CDR#3

For the remaining warning in Fast-RTPS I am not sure how you want to address them. Many .cpp files define a constant `CLASS_NAME` which isn't used anywhere (e.g. https://github.com/eProsima/Fast-RTPS/blob/master/src/cpp/rtps/builtin/data/ParticipantProxyData.cpp#L39 https://github.com/eProsim

[2015-12-17 15:10] richiprosima commented on #124
@dirk-thomas I have merged eProsima/Fast-CDR#3

Also I have removed warnings you suggested and I have updated the eProsima/Fast-RTPS@c58b2b4 repository.

[2015-12-17 17:40] dirk-thomas commented on #124
The newest OS X build looks good - zero warnings: http://ci.ros2.org/job/ci_osx/639/

[2015-12-17 21:43] dirk-thomas commented on #124
I have made changes to our CI stuff which allows to cleanly disable any rmw impl.:
* https://github.com/ros2/ros2/pull/171
* https://github.com/ros2/ros2/pull/172
* https://github.com/ros2/ros2/pull/116

[2015-12-17 21:43] dirk-thomas commented on #124
@richiprosima Can you please comment on the progress for fragmentation support.

[2015-12-18 00:47] esteve opened #173 "Document how to set up Git-LFS"
For our OSX and Windows CI slaves.

See https://github.com/ros2/ros2/pull/165

[2015-12-18 13:30] tfoote opened #174 "missing run dependency between message package with typesupport and rmw"
Running my unit tests, there's a new instance of missing dylibs  The typesupport libraries in builtin_interfaces is failing to link against librmw via rpath. I've confirmed that rmw is not in the came__test.sh generated for the test.

This happens for both connect and opensplice.

http://ci.ros2.org/job/ci_osx/669/testReport/junit/(root)/projectroot/test_simple/

http://ci.ros2.org/job/ci_osx/670/

[2015-12-18 18:48] gerkey commented on #174
CI job testing potential fix:

http://ci.ros2.org/job/ci_osx/676/

[2015-12-18 19:28] gerkey commented on #174
The latest attempt moved the dependency problem elsewhere:

[code]

[2015-12-18 19:29] gerkey commented on #174
Testing by building with the ros2.repos file from #160.

[2015-12-18 20:04] wjwwood commented on #174
I added more dependencies to `rosidl_default_runtime` as a workaround, but that's not the final solution: https://github.com/ros2/rosidl/pull/58

I triggered a new OS X job to test it out: http://ci.ros2.org/job/ci_osx/678/

[2015-12-18 20:16] wjwwood commented on #174
Here is a new OS X CI job: http://ci.ros2.org/job/ci_osx/679/ for this fix which also requires (uses) http://ci.ros2.org/job/ci_osx/679/

[2015-12-18 20:40] wjwwood commented on #174
Link problems look to be gone, but there are other (normal) test failures.

[2015-12-18 21:58] #153 closed

[2015-12-18 23:02] wjwwood commented on #141
What did we do in the mean time? We need to do the same in alpha3. @gerkey @dirk-thomas I get this when testing the OS X binary:

[code]

Which is because of this snippet from the `local_setup.sh`:
[code]

[2015-12-18 23:09] wjwwood commented on #141
It looks like the issue (on my machine) is that the `/usr/bin/env python3` fallback option is getting evaluated as a single executable, hence the `no such file or directory: /usr/bin/env python3`.

I'll open a pr soon, but I'm still not sure why we haven't seen that.

[2015-12-22 18:45] tfoote opened #178 "Create an equivalent to ros::Time"
This should provide a standard way to communicate simulated time and present it to the developer through the client libraries in as native a manner as possible.
- [x] create a design document https://github.com/ros2/design/pull/72
- [x] core implementation in rcl https://github.com/ros2/rcl/issues/12
- [x] implement a native cpp interface in rclcpp
  - [x] `rclcpp::Time::now()`: https://github.com

[2015-12-31 20:21] tfoote commented on #178
Design document: https://github.com/ros2/design/pull/72

[2016-01-05 10:57] firesurfer opened #179 "Add instructions for building/installing ros2 on debian"
Hi,
I would really like to add instructions to the wiki about how to build ros2 on a debian system (as i use debian myself for developing). At the moment these are just some simple changes that need to made during the installation of the required libs.
I'm not sure how you are handling edits to wiki at the moment or even if it's desired to have instructions about building ros2 on a system differen

[2016-01-05 11:09] vmayoral commented on #179
@firesurfer with regard installing ROS from its sources in Debian, feel free to grab the steps from http://erlerobotics.com/docs/Robot_Operating_System/ROS_2/Installing_ROS_2.html (tested with alpha-2).

[2016-01-05 11:37] firesurfer commented on #179
@vmayoral I already managed to install ROS2 from sources on Debian. My question was if it's okey to put these instructions to the ROS2 wiki hosted on github.
The instructions on the link you've posted are also kind of unnecessary complex.
It's easier to use the OpenSplice Debian Packages built by OSRF because you dont need to compile them by yourself.

[2016-01-05 20:12] gerkey commented on #179
@firesurfer We'd love to have your Debian instructions added to the wiki. While the wiki is a git repo (https://github.com/ros2/ros2.wiki.git), GitHub doesn't seem to support PRs there, so I guess the easiest thing would be to provide a diff here.

[2016-01-05 22:19] tfoote opened #180 "Alpha 4 release (2016-02-12)"
**Alpha 4 feature set**
* [ ] Address Windows test failures
  * [x] build *Release* on Windows fixing Connext tests (also address question of Connext services implementation) (2 weeks) @dirk-thomas ros2/rmw_connext#31
  * [x] allow switching between Debug and Release on Windows @dirk-thomas ament/ament_tools#73
    * [x] add an option to the Jenkins jobs to choose the build type @dirk-thomas ros2/

[2016-01-05 22:21] tfoote commented on #144
Leftover items moved to #180.

[2016-01-05 22:21] #144 closed

[2016-01-06 16:24] firesurfer commented on #179
Hi, i just added a paragraph called Installation on different Linux than Ubuntu 14.04.
The Instructions do work for me on a Debian stretch with gcc 5.3 and a Debian jessie with gcc 4.9.
Two compiler/linker errors I had occuring during the compilation are submitted as issues/PRs in the ros2/rcl and ros/geometry_experimental git repos.

I attached my git diff of Linux-Development-Setup.md.

[changes

[2016-01-09 00:08] dirk-thomas commented on #124
I will close this ticket since we have fully integrated FastRTPS into our CI infrastructure.

Regarding fragmentation support the new ETA from eProsima for the feature is end of May.

[2016-01-09 00:08] #124 closed

[2016-01-11 20:58] gerkey commented on #179
Added, thanks!

[2016-01-11 20:58] #179 closed

[2016-01-11 21:10] jabrena opened #181 "How to use rosjava to use ros2?"
Hi,

I would like to use Java to develop nodes for ROS2. How to use Rosjava with ROS2 tools to build a node?

Many thanks in advance.

Juan Antonio

[2016-01-11 21:13] dirk-thomas commented on #181
ROS 2 does currently not support a Java client library. The focus for now is on C++, C and Python (see https://github.com/ros2/ros2/wiki/Alpha3-Overview).

If you want to use Java you should continue to use ROS 1.

[2016-01-11 21:13] #181 closed

[2016-01-11 22:38] tfoote commented on #181
Note there's a thread with more information on this here: https://groups.google.com/forum/#!topic/ros-sig-ng-ros/W7eSS-uacOk

[2016-01-12 22:01] tfoote commented on #180
We need to determine how were going to do string encoding. At what level do we provide unicode support for strings? Python it's native C++ it's not...

[2016-01-12 22:07] tfoote commented on #180
@dirk-thomas wants to add documentation of message work from last cycle. @jacquelinekay move some freertps stuff into alpha4

[2016-01-20 19:52] jabrena commented on #181
Many thanks @tfoote I will follow it. I think that if we create a group, we could develop the support.
Cheers

[2016-01-26 00:04] wjwwood commented on #64
@dirk-thomas can this be closed? Originally I think it was meant to be used as a prerequisite of ros2/ros1_bridge#3, but since we did at least what was required for that I think we might need to close this. Obviously it isn't "done" but I think our normal, high level planning (alpha roadmaps) will capture the task better than this issue.

[2016-01-26 00:04] #82 closed

[2016-01-26 00:05] dirk-thomas commented on #64
Sounds good to me.

[2016-01-26 00:05] #64 closed

[2016-01-26 00:07] wjwwood commented on #111
I'm just trying to clean up some old tickets. @esteve can we close this if it is a duplicate of ros2/rmw_connext#112? Or perhaps vice versa?

[2016-01-26 00:11] esteve commented on #111
I think it's safe to close this ticket and focus on @jacquelinekay 's ros2/rmw_connext#112

[2016-01-26 00:12] wjwwood commented on #111
Ok, thanks.

[2016-01-26 00:13] wjwwood commented on #142
@esteve is this still an issue? Should we bump it into the ready queue?

[2016-01-26 00:13] dirk-thomas commented on #111
I think `sending immediately` and `deterministic` are very different. Imo sending the request immediately would be good to support (if possible). Either this should be explicitly mentioned in the other ticket or this should stay open.

[2016-01-26 00:14] wjwwood commented on #111
Well I'll reopen it then. If someone consolidates the issues in the other ticket then they can re-close this one.

[2016-01-26 00:16] wjwwood commented on #163
@tfoote can you put some more details here (if you can remember them). AFAICT, #99 doesn't have anything to do with this, unless you mean that we need cross vendor tests for Windows.

Either way maybe this is resolved by @dirk-thomas's work to duplicate binaries for multiple vendors even on Windows.

[2016-01-26 00:18] wjwwood commented on #164
Boost has been removed and the Windows fixes were also merged by @scpeters.

I'll ping on ros/console_bridge#18, but it looks at least partially done. Can we close this?

[2016-01-26 00:20] wjwwood commented on #173
Is this something we want to get done this alpha? Should we move it to the ready queue?

[2016-01-26 00:20] tfoote commented on #163
I think this is covered by the duplicate binaries. At the time we were only supporting one vendor at a time on Windows.

[2016-01-26 00:21] wjwwood commented on #163
Ok, then I'll close unless someone comments differently.

[2016-01-26 00:21] #163 closed

[2016-01-26 00:23] esteve commented on #173
Yes, it's ok to move it to the ready queue.

[2016-01-26 00:34] dirk-thomas commented on #164
The only pending issue I am aware of is ros/console_bridge#32. But we can close this already.

[2016-01-26 00:35] wjwwood commented on #164
Ok, thanks.

[2016-01-26 00:35] #164 closed

[2016-01-26 00:58] wjwwood commented on #127
Should we close this since all referenced tickets are closed and we are tracking this with our nightly jobs?

[2016-01-26 01:01] dirk-thomas commented on #127
I would suggest to keep this open and aim to get it resolved in this cycle.

We happen to switch between creating tickets for failing jobs like this one and then later closing them since the problem is "covered" by the failing test. We should decide on a policy and stick to it.

[2016-01-26 23:19] jeremy-a commented on #152
@flobotics Did you build the ROS 1 bridge? It's a heavyweight. I'd be surprised if the ROS 1 bridge built on the pi.

Did you cross compile for the pi or did you build ROS 2 right on your pi? If cross compiling, what was your setup.

[2016-02-11 22:50] tfoote commented on #168
Can we close this now that https://github.com/ros2/rosidl/pull/64 has been merged?

[2016-02-11 22:57] esteve commented on #168
+1 to closing

[2016-02-11 23:12] #168 closed

[2016-02-13 01:06] tfoote opened #194 "consider adding date to our vendor packages"
It's a c++11 header only library designed to make chrono much easier to use.

In looking around for platform independent c++ date/time solutions for the last warnings from https://github.com/ros/geometry_experimental/pull/153 I found date_v2.

https://github.com/HowardHinnant/date

http://howardhinnant.github.io/date_v2.html

[2016-02-18 01:26] tfoote opened #195 "Figure out how to resolve console_bridge installation path"
When installed on linux the lib goes into a subdirectory such as `x86_64-linux-gnu` which means that it's not on the path.

To be able to use it we need to explicitly extend the library path. For example we worked around it in tf2_ros here: https://github.com/ros/geometry_experimental/pull/157

This ticket is to track this issue and hopefully push for a solution upstream or else find a generic fix

[2016-02-18 17:16] dirk-thomas commented on #195
I think the workaround is the only viable one. It needs to happen in every package which needs console bridge since we can't / don't want to modify console bridge. As of Xenial we can rely on the system package and remove the workaround. Building console bridge from source in the same workspace won't be an option but that is likely true for any package with non standard paths.

[2016-02-18 18:23] traversaro commented on #195
Consider that this is a CMake issue that was solved in CMake 3.0 :
https://cmake.org/pipermail/cmake-developers/2014-January/009435.html
https://github.com/Kitware/CMake/commit/620939e4e6f5a61cd5c0fac2704de4bfda0eb7ef .
Given that this is a known CMake issue, a possible solution is  to modify the `console_bridge` build system to workaround this issue when using a version of CMake < 3.0 .

[2016-02-18 18:34] tfoote commented on #195
@traversaro That's great to see that it's fixed in CMake upstream. I agree that we should ask that console bridge integrate this workaround to support linux installs outside of `/usr`.

[2016-02-23 16:54] vmayoral opened #197 "ros_comm dev. support"
Hello,

We recently have been using ROS2 actively and look forward to its adoption. Our results are promising however we've reached a point where `rostopic`, `rosnode` and similar tools would be extremely valuable things to have. These, i believe will be implemented in an similar abstraction to what `ros_comm` was for ROS.

I am aware you're extremely busy so in case it makes sense, we'd like to c

[2016-02-23 17:41] esteve commented on #197
That's awesome! The `rclpy` API is still a bit crude, but it'd be interesting to see it being used for tools so we can find bugs in it and improve it.

Thanks.

[2016-02-23 17:50] dirk-thomas commented on #197
Any such command line tool needs intimate knowledge about the state of the communication graph. It needs to be able to query the currently available nodes, topics, etc. While the top of this will likely be Python scripts the missing piece and first thing to develop is on the C / C++ level and likely requires extending the rmw interface.

I think the first step would be to identify for each desired

[2016-02-23 22:53] tfoote opened #198 "Alpha 5 release (2016-04-01)"
* [x] Add support for C data structures in Fast and Connext Dynamic rmw implementations @jacquelinekay
  * Connext Dynamic in review: ros2/rmw_connext#133
  * Consider ticketing eProsima to do the FastRTPS implementation.
* [x] Support services in C ros2/rcl#27 (1.5 weeks) @jacquelinekay
* [x] Figure out timer / clock sources in rcl (Disable non-steady clock sources in rclcpp for now and continue

[2016-02-23 22:57] #180 closed

[2016-02-24 01:09] gerkey commented on #197
Fantastic!

We talked about this in our weekly ROS 2 meeting today (which you could consider joining at some point). As @dirk-thomas said, we feel like the best place to start is to pick a specific piece of functionality, like `rostopic list` or `rostopic echo`, then go top to bottom implementing the necessary APIs at each level. Assuming that you do it in Python (which we'd recommend), you'll nee

[2016-02-24 01:36] jacquelinekay commented on #197
Should we schedule a quick call to discuss the technical details in the next few days? @vmayoral, can you email me with your availability?

[2016-02-24 09:04] vmayoral commented on #197
Thanks everyone, sounds good.
@jacquelinekay let's do it. I'll PM you to schedule a call.

[2016-02-27 15:47] RameezI opened #199 "A possible bug in ROS2-alpha4 release"
The alpha4 release is not able to publish image messages. The publish method throws a run time exception with a message of vector overflow. The exception can be reproduced by running the  Image_Pipeline_all_in_one  demo.

[2016-02-27 23:16] wjwwood commented on #199
Hi @RameezI, thanks for trying the alpha out and reporting the issue. I just tried the binaries for OS X and Linux and I didn't get the error. Can you tell me what OS you're using and how you have OpenCV installed (from where and what version)?

Also, it's not 100% clear that you're using the binaries, and if you're not (you built from source) it would be useful to know which middleware you're tar

[2016-02-27 23:46] madratman commented on #199
Hi @wjwwood I just checked this. Got the same. Ubuntu 14.04 + Opensplice, compiled from source
[code]

[2016-02-27 23:59] RameezI commented on #199
I am on Ubuntu 14.04 and compiled alpha4 from the source. I am using  Opencv-2.4.11 installed from source using cmake the target middleware is 'OpenSplice'.
Furthermore, I tested alpha3 release afterwards with the same configuration and it worked fine for me.

[2016-02-28 00:18] wjwwood commented on #199
I think the `VIDIOC_QUERYMENU: Invalid argument` messages are a red herring.

The `vector overcomes the maximum length` error comes from FastRTPS:

https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/0a50bfb0005074dc0e3361a31f41ed5cedd62633/rmw_fastrtps_cpp/src/TypeSupport.cpp#L181

I think this is because it does not support fragmentation yet, and so for very large messages (like images) it ca

[2016-02-28 03:41] madratman commented on #199
You mean a opensplice specific demo of image_pipeline_all_in_one? I didn't see any. Or something else?
If you can point me to the possible linking issue, I wouldn't mind trying to fix it.

[2016-02-28 20:23] RameezI commented on #199
@wjwwood
 I just checked the `image_pipeline_all_in_one__rmw_opensplice_cpp` for the alpha4 version and it works perfect for me!

[2016-02-29 00:41] wjwwood commented on #199
@RameezI that's good to hear. I'm gonna close this since it's a known limitation and the linking issue (if that's in play here) has already been ticketed and fixed by @esteve: https://github.com/ros2/examples/issues/91

The only thing I think we could improve is the error message in this case, but it shouldn't be a permanent limitation.

[2016-02-29 00:41] #199 closed

[2016-03-01 16:18] vmayoral commented on #197
Here's a quick update of what we've been up to:
- Reviewed DDS, rmw and rcl
- Reviewed previous ROS `ros_comm` package code
- Targetting `rosnode list` for starters. Here's the API we'd like to implement to provide this functionality:

##### rosnode package (user land?)
[code]
##### ROS 2 client library (rcl)
[code]

##### ROS 2 middleware interface (rmw)
[code]

Feedback is welcome. Here's what w

[2016-03-02 15:24] vmayoral commented on #197
Hi @dirk-thomas, here's an attempt the make our intentions more clear (we've removed the parameters in the rclpy layer for simplicity, to be added in further iterations):

#### `rosnode list` tentative API

##### ROS 2 client library (rclpy)
[code]

##### ROS 2 client library (rcl)
[code]

##### ROS 2 middleware interface (rmw)
[code]
As for the ownership of the returned data, it'll be the upper l

[2016-03-02 16:04] dirk-thomas commented on #197
The return type `char**` doesn't clearly state how many nice names have been returned. Same for `rmw_nodes_t` which afaik is currently not a type.

Regarding the ownership: I don't think it is a good idea to separate allocation and deallocation - especially across library boundaries (https://blogs.msdn.microsoft.com/oldnewthing/20060915-04/?p=29723/).

[2016-03-02 16:29] vmayoral commented on #197
Thanks, for the quick feedback.

We can work a type for that. Should we use something like:
[code]
or would you prefer something more generic such as `rmw_strings_t`?

Yeap, that's one we defined following the coding style:
https://github.com/erlerobot/rmw/commit/d7a5440b294e850b023f7a097f05fcf0750ae0ef

For the middleware, how about:
##### ROS 2 middleware interface (rmw)
[code]

[2016-03-02 17:09] dirk-thomas commented on #197
Since we will likely have several of these function all returning a set of names `rmw_strings_t` might be a good idea.

The rmw interface shouldn't return `rmw_node_t`s since I don't think the returned value can be used with any of the other API having `rmw_node_t` as an argument. Wouldn't the rmw API look the same as the rcl one: `bool get_node_names(rmw_strings_t * node_names)` and `bool destroy

[2016-03-02 17:56] wjwwood commented on #197
Another thing to keep in mind is that we will be adding allocator functions to the `rmw` functions as many of the `rcl` functions already have, e.g.: https://github.com/ros2/rcl/blob/master/rcl/include/rcl/node.h#L58

So it might be good to go ahead and include them in the design of your rcl functions even if they remain unpassed/unused in the `rmw` API for now. Also the other `rcl` functions all

[2016-03-02 18:02] dirk-thomas commented on #198
While the choice to use Python for most of the command line tools I think we should reconsider this decision. Based on experience with ROS 1 I think certain commands needs to be C++ since the startup time of a Python script might already incur a too high latency when the result is e.g. being used for auto completion. E.g. rospack providing package names and files within packages is written in C++